<style>
    .teacherapply-detail .btn-verification {
        color: var(--green);
        font-size: 1.8rem;
        font-weight: var(--fontweight-content);
        padding-right: 1rem;
        padding-left: 0.7rem;
    }
</style>

<div class="main-array-title-table">
    <div class="main-text-title-table">신청자 정보</div>
    <button onclick="showuserimage()" class="material-icons btn-verification">verified</button>
    <button onclick="closeuserimage()" id="userimage-fullscreen" class="fullscreenimage">
        <div class="btn-exit material-icons">close</div>
        <img class="fullscreenimage-image" src="{{ target_teacherapply.userimage.url }}">
    </button>
</div>
<div class="main-container-table">
    <div class="main-array-row">
        <div class="row-index border1">이름</div>
        <div class="row-content-full border2">
            {{ target_teacherapply.customuser.userrealname}}
        </div>
    </div>
    <div class="main-array-row">
        <div class="row-index">연락처</div>
        <div class="row-content-full ">
            {{ target_teacherapply.customuser.username}}
        </div>
    </div>
    <div class="main-array-row">
        <div class="row-index border4">컨설팅</div>
        <div class="row-content-full border3">
            {{ target_teacherapply.consulttype }}
        </div>
    </div>
</div>
<div class="main-array-title-table">
    <div class="main-text-title-table">학력 상세 사항</div>
    <button onclick="showschoolimage()" class="material-icons btn-verification">verified</button>
    <button onclick="closeschoolimage()" id="schoolimage-fullscreen" class="fullscreenimage">
        <div class="btn-exit material-icons">close</div>
        <img class="fullscreenimage-image" src="{{ target_teacherapply.schoolimage.url }}">
    </button>
</div>
<div class="main-container-table">
    <div class="main-array-row">
        <div class="row-index border1">학번</div>
        <div class="row-content-half">{{ target_teacherapply.studentid}}</div>
        <div class="row-index">전형</div>
        <div class="row-content-half border2">{{ target_teacherapply.accepttype}}</div>
    </div>
    <div class="main-array-row">
        <div class="row-index">학교</div>
        <div class="row-content-full ">
            {{ target_teacherapply.school }}
        </div>
    </div>
    <div class="main-array-row">
        <div class="row-index border4">학과</div>
        <div class="row-content-full border3">
            {{ target_teacherapply.major }}
        </div>
    </div>
</div>
<div class="main-array-title-table">
    <div class="main-text-title-table">급여계좌</div>
</div>
<div class="main-container-table">
    <div class="main-array-row">
        <div class="row-index border1">은행</div>
        <div class="row-content-half">{{ target_teacherapply.bank }}</div>
        <div class="row-index">예금주</div>
        <div class="row-content-half border2">{{ target_teacherapply.depositor}}</div>
    </div>
    <div class="main-array-row">
        <div class="row-index border4">계좌</div>
        <div class="row-content-full border3">
            {{ target_teacherapply.accountnumber }}
        </div>
    </div>
</div>
<script>
    function showschoolimage() {
        var element = document.getElementById("schoolimage-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closeschoolimage() {
        var element = document.getElementById("schoolimage-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }

    function showuserimage() {
        var element = document.getElementById("userimage-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closeuserimage() {
        var element = document.getElementById("userimage-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }


    function confirmtoprofilecreate(event) {
        if (confirm("선생님 등록 화면으로 이동하시겠습니까?")) {
            window.location.href = event.target.href;
        } else {
            event.preventDefault();
        }
    }

    const toprofilecreate = document.getElementById('toprofilecreate');
    if (toprofilecreate) {
        toprofilecreate.addEventListener('click', confirmtoprofilecreate);
    }

    function confirmtoprefusalcreate(event) {
        if (confirm("선책하신 신청서를 삭제하시겠습니까?")) {
            window.location.href = event.target.href;
        } else {
            event.preventDefault();
        }
    }

    const toprefusalcreate = document.getElementById('toprefusalcreate');
    if (toprefusalcreate) {
        toprefusalcreate.addEventListener('click', confirmtoprefusalcreate);
    }
</script>