     <div class="main-array-title-table">
            <div class="main-text-title-table">신청 내용</div>
        </div>
        <div class="main-container-table">
            <div class="main-array-row">
                <div class="row-index border1 border4">전형</div>
                <div class="row-content-full border2 border3">{{ target_application.strategy}}</div>
            </div>
        </div>
        <div class="main-container-table">
            <div class="column-index border1 border2">
                현재 성적 및 상황
            </div>
            <div class="column-content border3 border4">{{ target_application.problem|safe|linebreaksbr}}</div>
        </div>
        <div class="main-container-table">
            <div class="column-index border1 border2">
                바라는 컨설팅 방식
            </div>
            <div class="column-content border3 border4">{{ target_application.want|safe|linebreaksbr}}</div>
        </div>