{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
main{
    padding-top: 10.5rem;
}

.main-hr-head{
    height:3px;
    background:var(--whitegray);
    width:100%;
}

</style>



<header class="header-black">
        {%  url 'consultapp:dashboard' pk=target_consult.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
</header>
<main>
        {% include 'consult_feedbackapp/listsnippets/head.html' %}
        <div class="main-hr-head"></div>

        <div class="feedback-list-slide1" style="display:block">
        {% with feedbacks=feedbacks %}
            {% include 'consult_feedbackapp/listsnippets/list.html' %}
        {% endwith %}
        </div>

        <div class="feedback-list-slide2" style="display:none">
        {% with feedbacks=feedbacks_like %}
            {% include 'consult_feedbackapp/listsnippets/list.html' %}
        {% endwith %}
        </div>
        {% if user == target_consult.teacher %}
        <a href="{% url 'consult_feedbackapp:create' pk=target_consult.pk %}" class="main-icon-add material-icons">add</a>
        {% endif %}
</main>

{% endblock %}

