
{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}
<header class="header-black">
    {% with title="회원가입" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% url 'accountapp:login' as url %}
    {% include 'headersnippets/exit.html' with url=url %}
</header>

<main>
    <div class="main-box">
        <div class="main-text-title-guideform">회원 정보를 입력해주세요</div>
        <div class="main-container-form">
            <form action="{% url 'accountapp:create' pk=target_phonenumber.pk %}" method="post">
                {% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit" value="회원가입">
            </form>
        </div>
    </div>
</main>
{% endblock %}