
{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}



<header class="header-black">
    {% url 'accountapp:setting' pk=user.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% with title="계정 삭제" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
</header>

<main class="consult-create ">
    <div class="main-box">
        <div class="main-text-title-guideform">* 계정 삭제 주의사항</div>
        <div class="main-container-guideform">
            <div class="item-guide">
                <span class="text-content">현재 진행 중인 컨설팅 및 매칭이 있을 경우, 계정을 삭제할 수 없습니다.</span>
            </div>
            <div class="item-guide">
                <span class="text-content">계정을 삭제하면 현재까지 저장된 정보 및 기록이 모두 사라집니다.</span>
            </div>
            <div class="item-guide">
                <span class="text-content">이후 계정을 복구할 수 없습니다.</span>
            </div>
        </div>

    </div>
    <div class="main-box" style="padding-top:1rem;">
        <div class="main-container-guideform" >
        <form action="{% url 'accountapp:delete' pk=target_user.pk %}" method="post" onsubmit="return confirmDeleteAccount()">
            {% csrf_token %}
            {% if user.can_delete %}
            <input type="submit" class="btn-submit" style="background: var(--red); margin-top:0" value="계정 삭제">
            {% else %}
            <div class="btn-submit" style="background:#6c7084; margin-top:0; color: var(--white)" >계정 삭제 불가</div>
            {% endif %}
        </form>
        </div>
    </div>
</main>

<script>
    function confirmDeleteAccount() {
        var confirmMessage = "계정 삭제 이후 복구가 불가능합니다. 정말 삭제하시겠습니까?";
        return confirm(confirmMessage);
    }
</script>

{% endblock %}