<style>
    .container-teacherguide{
        background: var(--white);
      height:4.5rem;
      transition: opacity 1s;
    }

    .container-teacherguide .icon-teacher {
        color: var(--white);
        padding: 0.4rem;
        border-radius: 0.5rem;
        font-weight: 400;
        font-size: 1.4rem;
        margin-right: 0.7rem;
        background: var(--orange);
    }

    .container-teacherguide .text-content {
        color: var(--black);
    }

</style>
{% if user.state != 'superuser' %}
<a href="{% url 'teacherapplyapp:guide' pk=target_user.pk %}" class="main-container-popup container-teacherguide">
    <div class="icon-teacher material-icons">
    school
    </div>
    <div class="text-popup text-content">
        선생님이신가요?
    </div>
</a>
{% endif %}
<script>
    window.onload = function() {
        var popup = document.getElementsByClassName('container-teacherguide')[0];
        setTimeout(function() {
            popup.style.opacity = "0";
        }, 3000); // time until disappearing in milliseconds

        setTimeout(function() {
            popup.style.display = "none";
        }, 4000); // time until removal from the layout
    };
</script>