<style>
.container-steps{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    width:100%;
    border-radius:1rem;
    background:var(--white);
    padding:2.5rem var(--content-padding);
}



.container-steps .link-nav{
    display: inline-block;
    color:var(--orange);
    font-weight:var(--fontweight-index);
    font-size:var(--fontweight-content);
}






.container-steps .item-arrow{
    color:var(--gray);
    font-size:2.5rem;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:3.5rem;
    width:20%;
}

.container-steps .text-content{
    color:var(--darkgray);
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
    margin-left:var(--content-padding);
}

.container-steps .item-activated .text-content{
    color:var(--black);
    font-size:1.3rem;
}


.container-steps .item-activated,
.container-steps .item-disabled{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
}

.container-steps .array-circle{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:6rem;
    width:20%;
    flex-shrink:0;
}
.container-steps .circle{
    color:var(--white);
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:4.7rem;
    width:4.7rem;
    border-radius:50%;
    background:var(--gray);
}

.container-steps .item-activated .circle{
    background:var(--orange);
    height:5.5rem;
    width:5.5rem;
}


</style>

<div class="container-steps">
    {% if step == "initial" %}
    <div class="main-array-row item-activated" >
    {% else %}
    <div class="main-array-row item-disabled">
    {% endif %}
        <div class="array-circle">
            <div class="circle">
               1단계
            </div>
        </div>
        <div class="text-content">
            프로필 목록에서 선생님들의 프로필을 확인하고 선택합니다.
            {% if step == "initial" %}
            <a href="{% url 'profileapp:list' %}"  class="link-nav">
            프로필 목록 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons item-arrow">arrow_drop_down</div>
    {% if step == "applying" %}
    <div class="main-array-row item-activated" >
    {% else %}
    <div class="main-array-row item-disabled">
    {% endif %}
        <div class="array-circle">
            <div class="circle">
                2단계
            </div>
        </div>
        <div class="text-content">
            선택한 선생님에게 양식에 맞는 신청서를 작성합니다.
            {% if step == "applying" %}
            <a href="{% url 'applicationapp:create' pk=target_user.pk %}" class="link-nav">
            신청서 작성 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons item-arrow">arrow_drop_down</div>
    {% if step == "applied" %}
    <div class="main-array-row item-activated" >
    {% else %}
    <div class="main-array-row item-disabled">
    {% endif %}
        <div class="array-circle">
            <div class="circle">
                3단계
            </div>
        </div>
        <div class="text-content">
            신청서가 확인될 때까지 대기하며 그 전까지 수정, 삭제가 가능합니다.
            {% if step == "applied" %}
            <a href="{% url 'applicationapp:detail' pk=user.application_student.pk %}" class="link-nav">
            신청서 상세 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons item-arrow">arrow_drop_down</div>
    {% if step == "matching" %}
    <div class="main-array-row item-activated" >
    {% else %}
    <div class="main-array-row item-disabled">
    {% endif %}
        <div class="array-circle">
            <div class="circle">
                4단계
            </div>
        </div>
        <div class="text-content">
            수락 이후 양측의 연락처가 공개되며, 선생님과 상담을 진행하고 성사시에 컨설팅이 개설됩니다.
            {% if step == "matching" %}
            <a href="{% url 'applicationapp:detail' pk=user.application_student.pk %}" class="link-nav">
            연락처 확인 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons item-arrow">arrow_drop_down</div>
    {% if step == "new" %}
    <div class="main-array-row item-activated" >
    {% else %}
    <div class="main-array-row item-disabled">
    {% endif %}
        <div class="array-circle">
            <div class="circle">
                5단계
            </div>
        </div>
        <div class="text-content">
            개설된 컨설팅의 수업료를 입금하면 컨설팅이 시작됩니다.
            {% if step == "new" %}
            <a href="{% url 'paymentapp:guide' pk=user.consult_student.pk %}" class="link-nav">
            수업료 입금 >
            </a>
            {% endif %}
        </div>
    </div>
</div>