

<div class="main-box">
    <div class="main-array-title">
        <span class="main-text-title">프로필 설정</span>
    </div>
    {% if target_user.profile.state == 'abled' %}
    {% if user == target_user %}
    <a id="tostateimpossible" href="{% url 'profileapp:stateupdate' %}?user_pk={{ target_user.pk }}"
       class="main-container-dashboard" >
    {% else %}
    <a class="main-container-dashboard" >
    {% endif %}
        <script>
        const tostateimpossible = document.getElementById('tostateimpossible');
        tostateimpossible.addEventListener('click', confirmtoStateImpossible);

        function confirmtoStateImpossible(event) {
            if (confirm("변경 이후 프로필이 목록에 노출되지 않으며, 수업 신청서를 받지 못합니다.")) {
                // Allow the navigation to proceed
                window.location.href = event.target.href;
            } else {
                // Prevent the default navigation behavior
                event.preventDefault();
            }
        }
        </script>
        <div class="item-content">
            <span class="main-text-content">프로필이 목록에 노출됩니다.</span>
            <div class="main-array-row interval-top" >
                <span class="main-text-content text-content">현재</span>
                <span class="main-text-index">
                    활성화
                </span>
            </div>
        </div>
        {% if user == target_user %}
        <div class="material-icons item-nav" >person_add</div>
        {% endif %}
    </a>
    {% else %}
    {% if user == target_user %}
    <a id="tostatepossible" href="{% url 'profileapp:stateupdate' %}?user_pk={{ target_user.pk }}"
       class="main-container-dashboard" >
    {% else %}
    <a class="main-container-dashboard" >
    {% endif %}
        <script>
        const tostatepossible = document.getElementById('tostatepossible');
        tostatepossible.addEventListener('click', confirmtostatepossible);

        function confirmtostatepossible(event) {
            if (confirm("변경 이후 프로필이 목록에 노출되며, 수업 신청서를 받을 수 있습니다.")) {
                // Allow the navigation to proceed
                window.location.href = event.target.href;
            } else {
                // Prevent the default navigation behavior
                event.preventDefault();
            }
        }
        </script>
        <div class="item-content">
            <span class="main-text-content">프로필이 목록에 노출되지 않습니다.</span>
            <div class="main-array-row interval-top" >
                <span class="main-text-content text-content">현재</span>
                <span class="main-text-index">
                    비활성화
                </span>
            </div>
        </div>
        {% if user == target_user %}
        <div class="material-icons item-nav" >person_add_disabled </div>
        {% endif %}
    </a>
    {% endif %}
</div>




