<style>



.container-head{
    align-items: center;
}

.container-head .text-title,
.container-head .text-subtitle{
    font-size: 1.85rem;
}


.container-head .nav-bar-touched,
.container-head .nav-bar-untouched{
    width:33%;
    margin:0;
    padding:0;
}
.container-head .text-hello{
    margin-left: 0.9rem;
    margin-top: 0.3rem;
    margin-bottom: 0.5rem;
}

</style>
  <div class="container-head main-container-head">
        <span class="text-subtitle" style="margin-top:0.5rem; font-size: 1.9rem">{{target_user.userrealname}}&nbsp;선생님</span>
        <span class="text-title text-hello" >다시 만나 반갑습니다 &#128075;</span>
        <div class="item-nav" >
           <button onclick="showSlide(1)" id="btn-slide1" class="nav-bar-touched">프로필 관리</button>
           <button onclick="showSlide(2)" id="btn-slide2" class="nav-bar-untouched">수업 관리</button>
           <button onclick="showSlide(3)" id="btn-slide3" class="nav-bar-untouched">급여 관리</button>
        </div>
  </div>

<script>
function showSlide(slideNumber) {
    // Loop over all slides
    for (let i = 1; i <= 5; i++) {
        const btn = document.querySelector(`#btn-slide${i}`);
        const slide = document.querySelector(`.teacher-dashboard-slide${i}`);

        // Check if this is the slide to show
        if (i === slideNumber) {
            btn.classList.add('nav-bar-touched');
            btn.classList.remove('nav-bar-untouched');
            slide.style.display = 'block';
        } else {
            btn.classList.add('nav-bar-untouched');
            btn.classList.remove('nav-bar-touched');
            slide.style.display = 'none';
        }
    }
}

// Initialize first slide to show on page load
showSlide(1);
</script>