<style>
    .icon-salary{
        padding:0.2rem;
        border-radius:50%;
        background:var(--whitegray);
        color: var(--white);
        font-size:1.1rem;
        font-weight:800;
        margin-left:1rem;
        flex-shrink:0;
    }
</style>
<div class="main-box">
    <div class="main-array-title">
        <span class="main-text-title">급여 관리</span>
        <button onclick="showhelp_salary()" class="material-icons icon-salary">
            question_mark
        </button>
        {% include 'teacherapp/dashboardsnippets/help_salary.html' %}
    </div>
    {% if target_salary %}
    <a href="{% url 'salaryapp:expected' pk=target_salary.pk %}" class="main-container-dashboard" >
        <div class="item-content">
            <span class="main-text-content">{{target_salary.salaryday|date:"Y년 m월 d일" }}</span>
            <div class="main-array-row interval-top" >
                <span class="main-text-content text-content">예상 급여</span>
                <span class="main-text-index">{{target_salary.paid_amount}}원</span>
            </div>
        </div>
        <div class="material-icons item-nav" style="font-size:1.9rem;">zoom_in</div>
    </a>
    {% else %}
    <a  class="main-container-dashboard" >
        <div class="item-content">
            <span class="main-text-content">예정된 급여가 없습니다</span>
            <div class="main-array-row interval-top" >
                <span class="main-text-content text-content">예상 급여</span>
                <span class="main-text-index">0원</span>
            </div>
        </div>
    </a>
    {% endif %}
</div>
