{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">

    {% if target_consult.state == 'new' %}
    {% url 'paymentapp:guide' pk=target_consult.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% with title="수업료 입금" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% else %}
    {% url 'consultapp:dashboard' pk=target_consult.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% with title="컨설팅 연장" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% endif %}
</header>

<main class="payment-new">
    {% if target_consult.state == 'unextended' %}
    <div class="main-box">
        <div class="main-text-title-guideform">* 컨설팅 연장 주의 사항</div>
        <div class="main-container-guideform container-payment">
            <div class="item-guide">
                    <span class="text-content">
                        컨설팅을 연장하면,&nbsp;
                        <span class="text-emphasize">
                            {{ target_consult.extenddate |date:"Y.m.d" }}
                        </span>부터 자동으로 연장됩니다.
                    </span>
            </div>
            <div class="item-guide">
                    <span class="text-content">
                        연장 입금된 수업료는
                        <span class="text-emphasize">
                            {{ target_consult.extenddate |date:"Y.m.d" }}
                        </span> 이전까지 전액 환불이 가능합니다.
                    </span>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="main-box">
        <div class="main-text-title-guideform">다음 정보로 입금을 진행합니다</div>
        <div class="main-container-guideform">
            <div class="item-info">
                <span class="text-content">입금 수업료</span>
                <span class="main-text-rowindex">
                    {{ target_consult.tuition }}원
                </span>
            </div>
            <div class="item-info">
                {% if target_consult.state == 'new' %}
                <span class="text-content">컨설팅 기간</span>
                <span class="main-text-rowindex">
                    {{startdate |date:"Y.m.d" }} ~ {{ enddate |date:"Y.m.d" }}
                </span>
                {% else %}
                <span class="text-content">연장될 기간</span>
                <span class="main-text-rowindex">
                    {{ target_consult.extenddate |date:"Y.m.d" }} ~ {{ target_consult.extend_enddate |date:"Y.m.d" }}
                </span>
                {% endif %}
            </div>
            <div class="item-info">
                <span class="text-content">담당 선생님</span>
                <span class="main-text-rowindex">{{ target_consult.teacher.userrealname}}</span>
            </div>
            <div class="item-info">
                <span class="text-content">담당 학생</span>
                <span class="main-text-rowindex">{{ target_consult.student.userrealname}}</span>
            </div>
            <form action="" method="post" onsubmit="return confirmCreatePayment()">
                {% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit" value="결제 진행">
            </form>
        </div>
        <div class="main-link-help">
        <span class="text-help">환불 규정이 궁금하신가요?</span>
        <a href="{% url 'homescreenapp:refund' %}"  class="text-link">환불 규정</a>
    </div>
    </div>
</main>
<script>
    function confirmCreatePayment() {
        var confirmMessage = "입금 정보를 확인해 주세요. 입금을 진행하시겠습니까?";
        return confirm(confirmMessage);
    }
</script>
{% endblock %}