{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
.text-title{
    font-size:1.5rem;
    color:var(--black);
    font-weight:var(--fontweight-emphasize);
    margin-left:0.5rem;
}
.text-subtitle{
    font-size:1.4rem;
    color:var(--gray);
    font-weight:var(--fontweight-content);
    margin-left:1rem;
}
.array-title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    margin-bottom: 1.5rem;
}
</style>

<header class="header-black">
    {% url 'paymentapp:guide' pk=target_consult.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% if target_consult.state == 'new' %}
    {% with title="수업료 입금" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% else %}
    {% with title="컨설팅 연장" %}
        {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% endif %}
</header>

<main class="payment-new">
    <div class="main-box">
        <div class="main-text-title-guideform">입금자명을 학생 실명으로 해주세요!</div>
        {% include 'paymentapp/createsnippets/bank.html' %}
        <div class="main-container-guideform">
            {% include 'paymentapp/createsnippets/info.html' %}
            <form action="" method="post" onsubmit="return confirmCreatePayment()">
                {% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit" value="입금 확인 요청" >
            </form>
        </div>
        <div class="main-link-help">
        <span class="text-help">환불 규정이 궁금하신가요?</span>
        <a href="{% url 'homescreenapp:refund' %}"  class="text-link">환불 규정</a>
    </div>
    </div>
    {% include 'paymentapp/createsnippets/warning.html' %}
</main>
<script>
    function confirmCreatePayment() {
        var confirmMessage = "입금 정보를 정확하게 확인해 주세요. 잘못된 송금으로 인한 불이익은 책임지지 않습니다.";
        return confirm(confirmMessage);
    }
</script>
{% endblock %}