<style>




.profile-detail-scholarship .main-text-content{
    margin-top:0.6rem;
}
.profile-detail-scholarship .main-text-subindex{
    margin-left:0.5rem;
    margin-right:0rem;
}



</style>


<div class="main-box profile-detail-scholarship">
    <div class="main-array-title"><span class="main-text-title">학력</span>
    </div>
        <div class="container-info">
            <div class="main-array-row">
                <span class="main-text-index">
                     {{scholarship.school}}&nbsp;{{scholarship.major}}&nbsp;{{scholarship.studentid}}학번
                </span>
                <span class="main-text-subindex">
                    [{{ scholarship.accepttype }}]
                </span>
                    <button onclick="showscholarshipimage()" class="material-icons btn-verification">verified</button>
                    <button onclick="closescholarshipimage()" id="scholarshipimage-fullscreen" class="fullscreenimage" >
                    <div
                            class="btn-exit material-icons">close
                    </div>
                    <img class="fullscreenimage-image" src="{{ scholarship.schoolverificationimage.url }}">
                    </button>
                {% if user == target_profile.teacher %}
                <div class="item-btn">
                <a href="{% url 'profile_scholarshipapp:update' pk=scholarship.pk %}"
                   class="main-btn-edit  material-icons" >edit</a>
                </div>
                {% endif %}
                {% if user.state == 'superuser' %}
                <div class="item-btn">
                <a href="{% url 'profile_scholarshipapp:manage' pk=scholarship.pk %}"
                   class="main-btn-edit  material-icons" >edit</a>
                </div>
                {% endif %}
            </div>
            <div class="main-text-content">
                {% if scholarship.content %}
                {{ scholarship.content|safe|linebreaksbr }}
                {% else %}
                    합격 수기 작성
                {% endif %}
            </div>
        </div>
</div>


<script>


function showscholarshipimage() {
    var element = document.getElementById("scholarshipimage-fullscreen");
    element.style.display = "flex";
    element.style.opacity = 0;
    setTimeout(function() {
        element.style.transition = 'opacity 0.2s ease-in-out';
        element.style.opacity = 1;
    }, 10);
}

function closescholarshipimage() {
    var element = document.getElementById("scholarshipimage-fullscreen");
    element.style.transition = 'opacity 0.4s ease-in-out';
    element.style.opacity = 0;
    setTimeout(function() {
        element.style.display = "none";
    }, 400);
}


</script>