<style>
  .container-warning{
    background: var(--red);
      box-shadow: none;
    transition: opacity 1s;

  }
  .container-warning .icon-warning{
    color: var(--white);
    font-weight: 400;
    font-size: 1.5rem;
    margin-right: 0.5rem;
}

</style>
{% if user == target_profile.teacher and not target_profile.is_activated %}
<div  class="main-container-popup container-warning">
    <div class="icon-warning material-icons">
    notification_important
    </div>
    <span class="text-popup">현재 비활성화된 프로필입니다</span>
</div>
{% endif %}

<script>
    window.onload = function() {
        var popup = document.getElementsByClassName('container-warning')[0];
        setTimeout(function() {
            popup.style.opacity = "0";
        }, 3000); // time until disappearing in milliseconds

        setTimeout(function() {
            popup.style.display = "none";
        }, 4000); // time until removal from the layout
    };
</script>