
{% if not user.is_authenticated %}
    {% include 'headersnippets/login.html'  %}
{% elif user.state == 'teacher' %}
<a class="btn-dashboard material-icons" href="{% url 'teacherapp:dashboard' pk=user.pk %}">
{% elif user.state == 'superuser' %}
<a class="btn-dashboard material-icons" href="{% url 'superuserapp:dashboard' %}">
{% else %}
    {% if user.user_consult %}
    <a class="btn-dashboard material-icons" href="{% url 'consultapp:dashboard' user.user_consult.pk %}">
    {% else %}
    <a class="btn-dashboard material-icons" href="{% url 'studentapp:dashboard' pk=user.pk %}">
    {% endif %}
{% endif %}
    dashboard
</a>