{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-white">
        {% include 'headersnippets/home.html' %}
        {% include 'headersnippets/account.html'  %}
</header>


<main class="main-guide">
    {% if target_step == 'initial' %}
        {% include 'studentapp/dashboardsnippets/initial.html' %}
    {% elif target_step == 'applied' %}
        {% include 'studentapp/dashboardsnippets/applied.html' %}
    {% elif target_step == 'matching' %}
        {% include 'studentapp/dashboardsnippets/matching.html' %}
    {% elif target_step == 'new' %}
        {% include 'studentapp/dashboardsnippets/new.html' %}
    {% elif target_step == 'refund' %}
        {% include 'studentapp/dashboardsnippets/refund.html' %}
    {% elif target_step == 'end' %}
        {% include 'studentapp/dashboardsnippets/end.html' %}
    {% endif %}
</main>
{% endblock %}

