

:root {
    --black:black;
    --white:white;
    --whiteblue:#f6f8fd;
    --blackblue:#1d2135;
    --gray:#65697b;
    --darkgray:#959fb1;
    --whitegray:#eaeaf1;
    --orange:#ea9143;
    --lightorange:#fba051;
    --darkblue:#394065;
    --middleblue:#43529d;
    --red:#e96563;
    --yellow:#fde291;
    --green:#4aa184;
    --lightblue:#d6ddff;
    --mint:#d6f5f5;
    --color-btn-nav:#2a2c37;
    --color-btn-submit:#414458;
    --color-base:#efeff5;


    --fontsize-content:1.28rem;
    --fontsize-index:1.33rem;
    --fontsize-title:1.5rem;
    --fontsize-emphasize:1.7rem;
    --fontsize-detail:1.23rem;

    --fontweight-content:500;
    --fontweight-index:600;
    --fontweight-title:700;
    --fontweight-emphasize:900;

    --shadow-itembox:0px 3px 11px #bdc1d6;
    --shadow-itembox-info:0px 0px 4px #bdc1d6;
    --shadow-btn:0px 3px 10px #bdc1d6;

    --main-padding:7%;
    --main-padding-snippet:9%;
    --header-padding:6%;
    --content-padding:7%;
    --footer-padding:20%;

    --header-height:5.4rem;
    --body-minheight:calc(100vh - var(--header-height));
    --main-padding-bottom:12rem;

    --border-container:2px solid #e3e3ed;
}


@media screen and (min-width: 600px) {
  :root {
    --main-padding:26%;
    --main-padding-snippet:26%;
    --header-padding:25%;
    --footer-padding:31%;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --main-padding:34%;
    --main-padding-snippet:34%;
    --header-padding:33%;
    --footer-padding:37%;
  }
}


