

:root {
    --black:black;
    --white:white;
    --middlegray:#65697b;
    --whitegray:#959fb1;
    --lightgray:#eaeaf1;
    --orange:#ea9143;
    --lightblue:#f6f8fd;
    --whiteblue:#d6ddff;
    --middleblue:#43529d;
    --darkblue:#394065;
    --blackblue:#1d2135;
    --red:#e96563;
    --yellow:#fde291;
    --green:#4aa184;
    --mint:#d6f5f5;

    --color-btn-submit:#414458;
    --color-base:#efeff5;


    --fontsize-content:1.32rem;
    --fontsize-index:1.35rem;
    --fontsize-title:1.55rem;
    --fontsize-emphasize:1.7rem;
    --fontsize-detail:1.23rem;

    --fontweight-content:500;
    --fontweight-index:600;
    --fontweight-title:700;
    --fontweight-emphasize:900;

    --shadow-itembox:0px 3px 11px #bdc1d6;
    --shadow-itembox-info:0px 0px 4px #bdc1d6;
    --shadow-btn:0px 3px 10px #bdc1d6;

    --main-padding:7%;
    --main-padding-snippet:9%;
    --header-padding:6%;
    --content-padding:7%;
    --footer-padding:20%;

    --header-height:5.4rem;
    --body-minheight:calc(100vh - var(--header-height));
    --main-padding-bottom:12rem;

    --border-container:2px solid #e3e3ed;
}


@media screen and (min-width: 600px) {
  :root {
    --main-padding:23%;
    --main-padding-snippet:25%;
    --header-padding:22%;
    --footer-padding:27%;
  }
}

@media screen and (min-width: 1100px) {
  :root {
    --main-padding:29%;
    --main-padding-snippet:31%;
    --header-padding:28%;
    --footer-padding:33%;
    --content-padding:8%;
  }
}


