<div class="main-container-head container-head-list">
    <div class="item-infos" >
        <span class="text-title">질문 답변률</span>
        <div class="main-array-row interval-top" >
            <span class="text-content">{{ratio}}%</span>
            <span class="text-subcontent">({{qnas_answered_length}}개/{{qnas_length}}개)</span>
        </div>
    </div>
    <div class="item-btn">
        <button onclick="showSlide(1)" id="btn-slide1" class="btn-touched">
            <span class="text-number">{{qnas|length}}개</span>
            <span class="text-index">전체</span>
        </button>
        <button onclick="showSlide(2)" id="btn-slide2" class="btn-untouched">
            <span class="text-number">{{qnas_unanswered|length}}개</span>
            <span class="text-index">미답변</span>
        </button>
        <button onclick="showSlide(3)" id="btn-slide3" class="btn-untouched">
            <span class="text-number">{{qnas_answered|length}}개</span>
            <span class="text-index">완료</span>
        </button>
        <button onclick="showSlide(4)" id="btn-slide4" class="btn-untouched">
            <span class="text-number">{{qnas_like|length}}개</span>
            <span class="text-index">저장</span>
        </button>
    </div>
</div>

<script>
function showSlide(slideNumber) {
    // Loop over all slides
    for (let i = 1; i <= 6; i++) {
        const btn = document.querySelector(`#btn-slide${i}`);
        const slide = document.querySelector(`.qna-list-slide${i}`);

        // Check if this is the slide to show
        if (i === slideNumber) {
            btn.classList.add('btn-touched');
            btn.classList.remove('btn-untouched');
            slide.style.display = 'block';
        } else {
            btn.classList.add('btn-untouched');
            btn.classList.remove('btn-touched');
            slide.style.display = 'none';
        }
    }
}

// Initialize first slide to show on page load
showSlide(1);
</script>
