{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">
        {% url 'studentapp:refundlist' pk=target_refund.student.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
        {% with title="환불 상세" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
</header>

<main>
<div class="main-box">
    <div class="main-array-title">
      <div class="main-text-title" >
        {% if target_refund.is_given %}
        {{ target_refund.given_at|date:"y.m.d"}} 환불 완료
        {% else %}
        환불 대기중
        {% endif %}
      </div>
    </div>
    {% include 'refundapp/detailsnippets/bank.html' %}
    <div class="main-container-info" >
        {% include 'refundapp/detailsnippets/amountinfo.html' %}
    </div>
</div>
</main>
{% endblock %}


