<style>
.btn-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--gray);
    font-size: 2.2rem;
    font-weight: var(--fontweight-emphasize);
    height: 3.8rem;
    width: 3.8rem;
    background: var(--whitegray);
    border-radius: 50%;
    color: var(--gray);
    margin: 3rem auto 0 auto;
}
</style>

<div class="main-box">
    {% for coach in coaches %}
    {% include 'snippets/coach.html' %}
    {% endfor %}
    {% if user == target_consult.teacher and can_add_coaches %}
    <a href="{% url 'feedback_coachapp:create' pk=target_feedback.pk %}" class="btn-add material-icons">add</a>
    {% endif %}
</div>


