<style>
    .icon-edit {
        right: 6rem;
    }
</style>

{% if user == target_consult.teacher %}
<a href="{% url 'consult_feedbackapp:update' pk=target_consult_feedback.pk %}"
   class="material-icons main-icon-positive icon-edit">edit</a>
<form action="{% url 'consult_feedbackapp:delete' pk=target_consult_feedback.pk %}" method="post"
      id="feedback-delete-form">
    {% csrf_token %}
    <input style="display:none" type="submit" name="next"
           value="{% url 'consult_feedbackapp:list' pk=target_consult.pk %}">
    <button type="button" onclick="confirmfeedbackDelete()" class="material-icons main-icon-negative">
        delete_forever
    </button>
</form>
{% endif %}
<script>
    function confirmfeedbackDelete() {
        if (confirm("선택하신 컨설팅을 삭제하시겠습니까?")) {
            document.getElementById("feedback-delete-form").submit();
        }
    }
</script>