<style>
    header .btn-back {
        margin-right: auto;
    }
</style>

<header class="header-black">
    {% url 'consult_feedbackapp:list' pk=target_consult.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% if user == target_consult.student %}
    {% if not like %}
    <a href="{% url 'feedback_likeapp:like' %}?feedback_pk={{ target_feedback.pk }}"
       class="btn-like-false material-icons">favorite</a>
    {% else %}
    <a href="{% url 'feedback_likeapp:like' %}?feedback_pk={{ target_feedback.pk }}"
       class="btn-like-true material-icons">favorite</a>
    {% endif %}
    {% endif %}
</header>

