{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
    .main-container-info{
        margin-bottom: 1.5rem;
    }
</style>
<header class="header-black">
        {% url 'teacherapp:dashboard' target_salary.teacher.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
        {% with title="예상 급여 상세" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
</header>

<main>
<div class="main-box" >
    {% include 'salaryapp/detailsnippets/salaryinfo.html' %}
    {% include 'salaryapp/detailsnippets/bank.html' %}
    <div class="main-container-info">
        {% include 'salaryapp/detailsnippets/amountinfo.html' %}
    </div>
    {% include 'salaryapp/detailsnippets/historys.html' %}
</div>

</main>

{% endblock %}

