<div class="item-content">
    <span class="main-text-content">환불 컨설팅</span>
    <span class="main-text-rowindex text-salary" >
        {{ target_refund.classname}}
    </span>
</div>
<div class="item-content">
    <span class="main-text-content">신청 시간</span>
    <span class="main-text-rowindex text-salary" >
        {{target_refund.created_at |date:"y.m.d G:i" }}
    </span>
</div>
<div class="item-content">
    <span class="main-text-content">신청자 연락처</span>
    <span class="main-text-rowindex text-salary" >
        {{ target_refund.student.user_phonenumber}}
    </span>
</div>
<div class="item-content">
    <span class="main-text-content">총 환불액</span>
    <span class="main-text-rowindex text-salary" >
        {{ target_refund.amount}}원
    </span>
</div>