
<style>

.container-bankaccount{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
    box-shadow: none;
    padding:0;
    margin-bottom: 1.7rem;
}

.container-bankaccount .item-bank{
    width:3.5rem;
    height:3.5rem;
    border-radius:50%;
    object-fit: cover;
    margin-right:5%;
}
.container-bankaccount .item-accountinfo{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
}
</style>
<div class="container-bankaccount main-container-snippets">
  <img class="item-bank" src={{target_refund.bankimage}}>
  <div class="item-accountinfo">
      <div class="main-array-row" >
          <span class="main-text-index" style="margin-right: 0.5rem;">{{target_refund.bank}}</span>
          <span class="main-text-content">{{target_refund.accountnumber}}</span>
      </div>
      <span class="main-text-content">{{target_refund.depositor}}</span>
  </div>
</div>