{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">
    {%  url 'studentapp:dashboard' pk=target_teacherapply.customuser.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% with title="신청서 상세" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
</header>
<main class="teacherapply-detail">
    <div class="main-box">
        {% include 'teacherapplyapp/detailsnippets/info.html' %}
    </div>
</main>
{% endblock %}