{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-white">
    {% include 'headersnippets/back.html' %}
</header>


<main class="main-guide">
    {% if target_step == 'initial' %}
    {% include 'teacherapplyapp/guidesnippets/initial.html' %}
    {% elif target_step == 'applied' %}
    {% include 'teacherapplyapp/guidesnippets/applied.html' %}
    {% elif target_step == 'end' %}
    {% include 'teacherapplyapp/guidesnippets/end.html' %}
    {% endif %}
</main>
{% endblock %}

