{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}



<header class="header-black">
        {%  url 'teacherapplyapp:guide' pk=target_user.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
        {% with title="학력 증명" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
</header>




<main class="profile-update ">
    <div class="main-box">
        <div class="main-text-title-guideform" >* 학력 증명 주의 사항</div>
        <div class="main-container-guideform">
            <div class="item-guide">
                <span class="text-content">
                재학/휴학/재적 증명서는 3개월 이내에 발급한 서류만 제출해 주세요.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                증명서는 가리는 부분 없이 제출해 주세요.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                학생증으로 증명할 시 모바일 학생증이 아닌 실물 학생증 촬영본을 제출하고 카드번호는 가려주세요.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                제출서류는 추후 등록할 학력과 동일해야 합니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                스캔 이미지, 복사본은 승인 처리가 어렵습니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                학력 정보에 대해 추가 정보가 필요할 경우 요청할 수 있으며, 허위 기재 시 불이익이 발생할 수 있습니다.
            </span>
            </div>
            </div>
        </div>
    </div>
    <div class="main-box" style="padding-top:1rem;">
        <div class="main-container-guideform" style="padding-top:0.5rem;" >
        <form action="{% url 'teacherapplyapp:schoolimagecreate' pk=target_user.pk %}"
              enctype="multipart/form-data" method="post" onsubmit="return confirmSchoolimageCreate()">
            {% csrf_token %}{% bootstrap_form form %}
            <input type="submit" class="btn-submit" value="증명 자료 제출" style="margin-top:2.5rem;">
        </form>
        </div>
    </div>
</main>


<script>
    function confirmSchoolimageCreate() {
        var confirmMessage = "주의 사항을 확인해 주세요. 허위 기재 시 불이익이 발생할 수 있습니다.";
        return confirm(confirmMessage);
    }
</script>
{% endblock %}

