<style>
.container-analyze{
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    position: relative;
    margin-bottom: 3rem;
    box-shadow: var(--shadow-itembox-info);
}

.container-analyze .text-content{
    margin-top: 1rem;
}
.container-analyze .text-subcontent{
    font-size: var(--fontsize-detail);
    color: var(--darkgray);
    font-weight: var(--fontweight-content);
    margin-left:0.7rem;
}
</style>

<div class="container-analyze main-container-snippets">
    <div class="item-btn">
     {% if user == target_consult.teacher %}
     <a href="{% url 'consult_feedbackapp:contentupdate' pk=target_feedback.pk %}" class="main-btn-edit material-icons">edit</a>
    {% endif %}
    </div>
    <div class="main-array-row" >
        <img class="item-image"  src='/static/icons/analyze.png'>
        <span class="text-title">학생 종합 분석</span>
    </div>
    <span class="main-text-content text-content">{{target_feedback.content|safe|linebreaksbr}}</span>
</div>