<style>
.container-application{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

.container-application .text-remain{
    color:var(--orange);
}



</style>

<a href="{% url 'applicationapp:detail' pk=target_application.pk %}"  class="container-application main-container-snippets">
    <div  class="main-array-column" >
            {% if target_application.state == 'applied' %}
            <span class="main-text-content text-remain">{{target_application.expire_applied}} 내 확인</span>
            {% else %}
            <span class="main-text-content text-remain">{{target_application.expire_matching}} 내 시범 수업 진행</span>
            {% endif %}
            <span class="main-text-index" style="margin-top:0.3rem;">{{target_application.student.userrealname}}&nbsp;학생 </span>
            <span class="main-text-content">{{target_application.belong}}&nbsp;{{target_application.get_age_display}}</span>
    </div>
    <div class="item-nav material-icons">arrow_forward_ios</div>
</a>

