<style>
.box-plan{
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    margin-bottom: 3rem;
}
.container-plan{
    flex-direction:column;
    justify-content:flex-start;
    align-items:flex-start;
    position: relative;
    box-shadow: var(--shadow-itembox-info);
}
.container-plan .text-content{
    margin-top:1rem;
}

.container-plan .text-subcontent{
    font-size: var(--fontsize-detail);
    color: var(--whitegray);
    font-weight: var(--fontweight-content);
    margin-left:0.7rem;
}

.box-plan .item-undone,
.box-plan .item-done{
    color: #8ee6c9;
    font-weight: var(--fontweight-index);
    font-size:var(--fontsize-detail);
    background: var(--darkblue);
    margin-right:3%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    border-radius:0.5rem;
}
.box-plan .item-undone{
    border:2px solid var(--whitegray);
    background:none;
    color:var(--whitegray);
    font-weight: var(--fontweight-emphasize);
}

</style>
<div class="box-plan">
    <div class="container-plan main-container-snippets">
        <div class="item-btn">
         {% if user == target_consult.teacher %}
         <a href="{% url 'feedback_planapp:update' pk=plan.pk %}" class="main-btn-edit material-icons">edit</a>
        {% endif %}
        </div>
        <div class="main-array-row">
                {% if plan.is_done %}
        {% if not user == target_consult.student %}
        <div class="item-done material-icons">check</div>
        {% elif plan.can_check_plan %}
        <a href="{% url 'feedback_planapp:stateupdate' %}?plan_pk={{ plan.pk }}"
           class="item-done material-icons">check</a>
        {% else %}
        <div onclick="alert('체크 가능 시간은 계획일부터 다음날까지입니다.')"
             class="item-done material-icons">check</div>
        {% endif %}
    {% else %}
        {% if not user == target_consult.student %}
        <div class="item-undone material-icons">check</div>
        {% elif plan.can_check_plan %}
        <a href="{% url 'feedback_planapp:stateupdate' %}?plan_pk={{ plan.pk }}"
           class="item-undone material-icons">check</a>
        {% else %}
        <div onclick="alert('체크 가능 시간은 계획일부터 다음날까지입니다.')"
           class="item-undone material-icons">check</div>
        {% endif %}
    {% endif %}
            <span class="text-title">{{plan.plantime|date:"m.d"}}</span>
            <div class="text-subcontent">
            {{plan.plantime|date:"D"}}
            </div>
        </div>
        <span class="main-text-content text-content" >
        {% if plan.content %}
            {{plan.content|safe|linebreaksbr}}
        {% else %}
            요일별 플랜 작성
        {% endif %}
        </span>
    </div>
</div>
