<style>
.container-refund{
    box-shadow: none;
    border-radius: 0;
    background: none;
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}
</style>
<div  class="container-refund main-container-snippets">
    <div  class="main-array-column" >
        <div class="main-array-row">
            <span class="main-text-index interval-right"  >
                환불
            </span>
            <span class="main-text-content"  style="font-size: var(--fontsize-detail)">
                {{refund.created_at |date:"m.d / G:i" }}
            </span>
        </div>
        <span class="main-text-content interval-top">
            {{refund.classname }}
        </span>
    </div>
    <div class="item-amount">
        -{{refund.amount }}원
    </div>
</div>
