<style>

.container-suqareprofile{
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    position: relative;
    width:47.5%;
    margin-top:2rem;
    padding:0;
    border-radius: 0.6rem;
    border: 1.5px solid #cecede;
}






.container-suqareprofile .item-profileimage{
    width:100%;
    border-top-right-radius: 0.45rem;
    border-top-left-radius: 0.45rem;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    flex-shrink: 0;
    background:#f2f5fc;
    padding:1.2rem 9% 1.2rem 9%;
}
.container-suqareprofile .image-profile{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:100%;
    height:8rem;
    background: var(--white);
    object-fit: cover;
    border-radius: 0.5rem;
    object-position: center center;
    flex-shrink: 0;
}
.container-suqareprofile .item-highlight{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background: var(--green);
    border-radius: 50%;
    width: 2.6rem;
    height: 2.6rem;
    position: absolute;
    top:-0.8rem;
    right: -0.8rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: var(--fontweight-content);
}
.container-suqareprofile .image-profile-empty{
    width: 5.5rem;
    height: 5.5rem;
}
.container-suqareprofile .icon-profile{
    margin-right: 0.5rem;
    color:var(--gray);
    font-size: 1.23rem;
    font-weight:400;
}

.container-suqareprofile .array-info{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:center;
    padding:1rem 0 1.3rem var(--content-padding);
    width: 100%;
}



.container-suqareprofile .text-profiletitle{
    width: 100%;
    padding-left: 1%;
    color:var(--black);
    font-weight:var(--fontweight-emphasize);
    font-size:var(--fontsize-index);
    margin-bottom:0.3rem;
}
.array-normalcontainer{
    margin-right: 0;
}
.array-lastcontainer{
    margin-right: 0;
}
    @media screen and (min-width: 600px) {
        .container-suqareprofile {
            width: 45%;
        }
        .container-suqareprofile .image-profile {
            height: 11rem;
        }
        .container-suqareprofile .item-profileimage{
            padding:1.3rem 10% 1.3rem 10%;
        }
    }
    @media screen and (min-width: 900px) {
        .container-suqareprofile {
            width: 31%;
        }
        .array-normalcontainer{
            margin-right:3.5%;
        }
        .array-lastcontainer{
            margin-right: 0
        }
        .container-suqareprofile .image-profile {
            height: 9rem;
        }
        .container-suqareprofile .item-profileimage{
            padding:1.3rem 10% 1.3rem 10%;
        }
    }
    @media screen and (min-width: 1100px) {
        .container-suqareprofile {
            width: 30.5%;
        }
        .array-normalcontainer{
            margin-right:4.25%;
        }
        .array-lastcontainer{
            margin-right: 0
        }
        .container-suqareprofile .image-profile {
            height: 9rem;
        }
        .container-suqareprofile .item-profileimage{
            padding:1.3rem 10% 1.3rem 10%;
        }
    }
</style>
{% if forloop.counter|divisibleby:3 %}
<a href="{% url 'profileapp:detail' pk=profile.pk %}"  class="container-suqareprofile main-container-snippets array-lastcontainer" >
{% else %}
<a href="{% url 'profileapp:detail' pk=profile.pk %}"  class="container-suqareprofile main-container-snippets array-normalcontainer">
{% endif %}
        {% if profile.is_highlighted %}
        <div class="item-highlight material-icons">
            verified
        </div>
        {% endif %}
        <div class="item-profileimage">
        {% if  profile.profile_profileimage %}
        <img class="image-profile" src="{{ profile.profile_profileimage.image.url }}">
        {% else %}
            <div class="image-profile">
                <img class="image-profile-empty" src="/static/icons/user.png">
            </div>
        {% endif %}
        </div>
        <div class="array-info">
            <span class="text-profiletitle">{{profile.teacher.userrealname}}&nbsp;선생님&nbsp;</span>
            <div class="main-array-row">
                <span class="icon-profile material-icons">school</span>
                <span class="main-text-content">{{profile.profile_scholarship.school|truncatechars:14}}</span>
            </div>
            <div class="main-array-row">
                <span class="icon-profile material-icons">history_edu</span>
                <span class="main-text-content">{{profile.profile_scholarship.major|truncatechars:8}}</span>
                <span class="main-text-content">&nbsp;{{profile.profile_scholarship.studentid}}</span>
            </div>
            <div class="main-array-row">
                <span class="icon-profile material-icons">subject</span>
                <span class="main-text-content">{{profile.profile_consulttype.consulttype_name|truncatechars:14}}</span>
            </div>
        </div>
</a>