<style>
.teacherapply-guidesnippets-steps{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: flex-start;
    width:100%;
    border-radius:1rem;
    background:var(--white);
    padding:2.5rem var(--content-padding);
}


.teacherapply-guidesnippets-steps .link-nav{
    display: inline-block;
    color:var(--middleblue);
    font-weight:var(--fontweight-index);
    font-size:1.3rem;
}


.teacherapply-guidesnippets-steps .item-bar{
    height:3.7rem;
    width:0.8rem;
    border-radius:0.3rem;
    background:var(--gray);
}


.teacherapply-guidesnippets-steps .icon-down{
    color:var(--gray);
    font-size:2.6rem;
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:4rem;
    width:100%;
}

.teacherapply-guidesnippets-steps .item-info{
    color:var(--darkgray);
    font-size:var(--fontsize-content);
    font-weight:var(--fontweight-content);
    margin-left:var(--content-padding);
}




.teacherapply-guidesnippets-steps .item-index{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    height:6rem;
    width:5%;
    flex-shrink:0;
}

.teacherapply-guidesnippets-steps .state-ongoing,
.teacherapply-guidesnippets-steps .state-normal{
    width:100%;
    display: flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: center;
}

.teacherapply-guidesnippets-steps .state-ongoing .item-info{
    color:var(--black);
    font-size:1.3rem;
}
.teacherapply-guidesnippets-steps .state-ongoing .item-bar{
    background:var(--darkblue);
    height:4rem;
    width:1rem;
}



</style>


<div class="teacherapply-guidesnippets-steps">
    {% if step == "initial" %}
    <div class="main-array-row state-ongoing" >
    {% else %}
    <div class="main-array-row state-normal">
    {% endif %}
        <div class="item-index">
            <div class="item-bar"></div>
        </div>
        <div class="item-info">
            절차에 따라 학력과 신원을 인증하고, 급여 계좌 및 수업 정보를 등록합니다.
            {% if step == "initial" %}
            &nbsp;
            <a href="{% url 'teacherapplyapp:schoolimagecreate' pk=target_user.pk %}" class="link-nav">
            선생님 신청 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons icon-down">arrow_drop_down</div>
    {% if step == "applied" %}
    <div class="main-array-row state-ongoing" >
    {% else %}
    <div class="main-array-row state-normal">
    {% endif %}
        <div class="item-index">
            <div class="item-bar"></div>
        </div>
        <div class="item-info">
            관리자가 등록한 정보를 확인하고 승인하기 전까지 대기합니다.
            {% if step == "applied" %}
            &nbsp;
            <a href="{% url 'teacherapplyapp:detail' pk=target_user.teacherapply.pk %}" class="link-nav">
            신청 상세 >
            </a>
            {% endif %}
        </div>
    </div>
    <div class="material-icons icon-down">arrow_drop_down</div>
    <div class="main-array-row state-normal">
        <div class="item-index">
            <div class="item-bar"></div>
        </div>
        <div class="item-info">
            승인이 완료되면, 필요에 따라 관리자에게 안내사항을 전달받고 자유롭게 수업을 진행합니다.
        </div>
    </div>
</div>
