<div class="main-box account-setting-etcsetting">
    <div class="main-array-title">
        <span class="main-text-title">기타 정보</span>
    </div>
    <div class="container-setting">
        <a href="{% url 'homescreenapp:privacypolicy' %}" class="item-content">
            <span class="main-text-content text-content">개인정보처리방침</span>
            <span class="material-icons icon-arrow">navigate_next</span>
        </a>
        <a href="{% url 'homescreenapp:refund' %}" class="item-content">
            <span class="main-text-content text-content">환불 규정</span>
            <span class="material-icons icon-arrow">navigate_next</span>
        </a>
        <a href="{% url 'homescreenapp:announcement' %}" class="item-content">
            <span class="main-text-content text-content">공지사항</span>
            <span class="material-icons icon-arrow">navigate_next</span>
        </a>
        <a href="{% url 'homescreenapp:contact' %}" class="item-content" >
            <span class="main-text-content text-content">Contact</span>
            <span class="material-icons icon-arrow">navigate_next</span>
        </a>
        <a href="{% url 'homescreenapp:termofuse' %}" class="item-content" style="border-bottom: None">
            <span class="main-text-content text-content">서비스 이용 약관</span>
            <span class="material-icons icon-arrow">navigate_next</span>
        </a>
    </div>
</div>

