
<div class="item-content">
    <span class="main-text-content">입금 컨설팅</span>
    <span class="main-text-rowindex text-salary">
        {{ target_payment.classname }}
    </span>
</div>
<div class="item-content">
    {% if target_consult.state == 'new' %}
    <span class="main-text-content">컨설팅 기간</span>
    <span class="main-text-rowindex text-salary">
        {{startdate |date:"Y.m.d" }} ~ {{ enddate |date:"Y.m.d" }}
    </span>
    {% else %}
    <span class="main-text-content">연장될 기간</span>
    <span class="main-text-rowindex text-salary">
        {{ target_consult.extenddate |date:"Y.m.d" }} ~ {{ target_consult.extend_enddate |date:"Y.m.d" }}
    </span>
    {% endif %}
</div>
<div class="item-content">
    <span class="main-text-content">입금 시간</span>
    <span class="main-text-rowindex text-salary">
        {{target_payment.created_at |date:"y.m.d G:i" }}
    </span>
</div>
<div class="item-content">
    <span class="main-text-content">입금자 연락처</span>
    <span class="main-text-rowindex text-salary">
        {{ target_payment.student.user_phonenumber}}
    </span>
</div>
<div class="item-content">
    <span class="main-text-content">입금액</span>
    <span class="main-text-rowindex text-salary">
        {{ target_payment.amount}}원
    </span>
</div>