{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">
        {% with title="담당 교과목 작성" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
        {% url 'profileapp:detail' pk=target_profile.pk as url %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>

<main>
  <div class="main-box">
      <div class="main-container-form">
        <form action="{% url 'profile_subjectapp:create' pk=target_profile.pk %}"  method="post" >
            {% csrf_token %}{% bootstrap_form form %}
            <input type="submit" class="btn-submit" value="정보 작성">
          </form>
      </div>
  </div>
</main>
{% endblock %}