{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}
<style>

</style>


<header class="header-black">
        {% url 'applicationapp:detail' target_user.application_student.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}
        {% with title="거절 사유 작성" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
</header>

<main>
  <div class="main-box">
      <div class="main-container-form">
         <form action="{% url 'refusalapp:create' pk=target_user.pk %}" method="post" >
            {% csrf_token %}{% bootstrap_form form %}
            <input type="submit" class="btn-submit btn-submit-short" value="사유 작성">
          </form>
      </div>
  </div>
</main>
{% endblock %}
