{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">
    {% if user.state == 'student' %}
    {% url 'studentapp:dashboard' pk=target_application.student.pk  as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% else %}
    {% url 'teacherapp:applicationlist' pk=target_application.teacher.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% endif %}
    {% with title="신청서 상세" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
</header>

<main class="application-detail">
    <div class="main-box ">
        {% include 'applicationapp/detailsnippets/btn.html' %}
        {% include 'applicationapp/detailsnippets/teacherinfo.html' %}
        {% include 'applicationapp/detailsnippets/studentinfo.html' %}
        {% include 'applicationapp/detailsnippets/detailinfo.html' %}
    </div>
</main>


{% endblock %}


