
<style>

footer{
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    padding: 4rem var(--homescreen-padding) 8rem var(--homescreen-padding);
    background:#3d4257;
}


footer .text-buisiness{
      display: flex;
      flex-direction:row;
      justify-content:center;
      align-items: center;
      font-weight:var(--fontweight-content);
      font-size:1.3rem;
      color:var(--white);
      width:100%;
      margin-bottom:1rem;
      margin-top:1.5rem;
}


footer .text-footerdetail{
      width:100%;
      color:var(--whitegray);
      font-size:1.23rem;
      font-weight:400;

}
footer .text-copyright{
      font-weight:var(--fontweight-content);
      margin-top:2rem;
      font-size:1.2rem;
      width: 100%;
      display: flex;
      flex-direction:row;
      justify-content:center;
      align-items: center;
      color:var(--white);
}
@media screen and (min-width: 500px) {

      footer{
          padding: 4rem 34% 8rem 34%;
      }
}
</style>
<footer>
      <div class="text-buisiness">Plan & Coach 사업자 정보</div>
      <div class="text-footerdetail" >
      서비스명 : plan&coach / 사업자 분류 : 개인 사업자 / 등록일 : 2023년 06월 08일 /
      사업자등록번호 :305-38-92150 / 대표 : 조경연 / 책임자 : 조경연, 홍진영
      법인 위치 : 서울특별시 동작구 만양로14마길 5-1(노량진동) / 전화번호 : 010-3158-5834 / 대표이메일 : peter135268@gmail.com
      </div>
      <div class="text-copyright">Copyrights 2023 Plan & Coach All Rights Reserved</div>
</footer>
