<style>


    .help_application .item-circle {
        color: var(--white);
        font-size: var(--fontsize-content);
        font-weight: var(--fontweight-title);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 4.7rem;
        width: 4.7rem;
        border-radius: 50%;
        background: var(--gray);
    }

    .help_application .item-info {
        padding-left: 8%;
        padding-right: 8%;
    }

    .help_application .icon-down {
        color: var(--gray);
        font-size: 2.6rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 4.5rem;
        width: 5rem;
    }

    .help_application .item-explanation {
        color: var(--black);
        font-size: 1.3rem;
        font-weight: var(--fontweight-content);
        margin-left: var(--content-padding);
    }

    .help_application .text-emphasize {
        color: var(--orange);
        font-size: inherit;
        font-weight: inherit;
    }


    .help_application .array-index {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 5rem;
        flex-shrink: 0;
    }

    .help_application .array-info {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }


</style>

<div id="help_application" class="fullscreeninfo help_application">
    <div class="itembox">
        <div class="item-head">
            <button onclick="closehelp_application()" class="material-icons btn-exit">cancel</button>
        </div>
        <div class="item-info">
            <div class="array-info">
                <div class="array-index">
                    <div class="item-circle">
                        1단계
                    </div>
                </div>
                <div class="item-explanation">
                    24시간 내에 학생의 신청서를 확인하고 수락 또는 거절합니다.
                </div>
            </div>
            <div class="material-icons icon-down">arrow_drop_down</div>
            <div class="array-info">
                <div class="array-index">
                    <div class="item-circle">
                        2단계
                    </div>
                </div>
                <div class="item-explanation">
                    양측의 연락처는 신청서를 수락한 후 공개됩니다. 학생에게
                    <span class="text-emphasize"> 먼저 연락하고</span> 상담을 진행해 주세요.
                </div>
            </div>
            <div class="material-icons icon-down">arrow_drop_down</div>
            <div class="array-info">
                <div class="array-index">
                    <div class="item-circle">
                        3단계
                    </div>
                </div>
                <div class="item-explanation">
                    상담을 진행하며
                    <span class="text-emphasize"> 정기 수업의 일정</span>
                     및 컨설팅 계획을 설정해 주세요.
                </div>
            </div>
            <div class="material-icons icon-down">arrow_drop_down</div>
            <div class="array-info">
                <div class="array-index">
                    <div class="item-circle">
                        4단계
                    </div>
                </div>
                <div class="item-explanation">
                    매칭 목록에서 컨설팅을 개설하고 학생의 수업료 입금을 대기합니다.
                </div>
            </div>
             <div class="material-icons icon-down">arrow_drop_down</div>
            <div class="array-info">
                <div class="array-index">
                    <div class="item-circle">
                        5단계
                    </div>
                </div>
                <div class="item-explanation">
                    입금 완료 시 컨설팅이 시작됩니다. 학습 질문 답변은
                    <span class="text-emphasize"> 컨설팅 결제일</span>부터 시작되는 점을 유의해 주세요.
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function showhelp_application() {
        var element = document.getElementById("help_application");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closehelp_application() {
        var element = document.getElementById("help_application");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }
</script>