<style>
    .container-head .text-subtitle,
    .container-head .text-title {
        font-size: 1.8rem;
    }
</style>

<div class="container-head main-container-head ">
    <div class="item-infos">
        <div class="main-array-row">
                <span class="text-subtitle">
                {{target_consult.student.userrealname}}&nbsp;
                </span>
            <span class="text-title">
                {{target_consult.belong}}, {{target_consult.get_age_display}}
                </span>
        </div>
        <div class="main-array-info interval-top">
            <span class="text-content">수업 상태:</span>
            {% if target_consult.state == 'unextended' %}
            <span class="text-subcontent">
                        {{ target_consult.startdate|date:"y.m.d" }} ~ {{ target_consult.enddate|date:"y.m.d" }}
                        &nbsp;미연장
                    </span>
            {% elif target_consult.state == 'extended' %}
            <span class="text-subcontent">
                        {{ target_consult.startdate|date:"y.m.d" }} ~ {{ target_consult.enddate|date:"y.m.d" }}
                        &nbsp;연장 완료
                    </span>
            {% elif target_consult.state == 'new' %}
            <span class="text-subcontent">신규 수업</span>
            {% else %}
            <span class="text-subcontent">종료된 수업</span>
            {% endif %}
        </div>
    </div>
    <div class="item-nav">
        <button onclick="showSlide(1)" id="btn-slide1" class="nav-bar-touched">학습</button>
        <button onclick="showSlide(2)" id="btn-slide2" class="nav-bar-untouched">수업 정보</button>
        {% if user == target_consult.student  %}
        <button onclick="showSlide(3)" id="btn-slide3" class="nav-bar-untouched">설정</button>
        {% endif %}
    </div>
</div>

<script>
    function showSlide(slideNumber) {
        // Loop over all slides
        for (let i = 1; i <= 5; i++) {
            const btn = document.querySelector(`#btn-slide${i}`);
            const slide = document.querySelector(`.consult-dashboard-slide${i}`);

            // Check if this is the slide to show
            if (i === slideNumber) {
                btn.classList.add('nav-bar-touched');
                btn.classList.remove('nav-bar-untouched');
                slide.style.display = 'block';
            } else {
                btn.classList.add('nav-bar-untouched');
                btn.classList.remove('nav-bar-touched');
                slide.style.display = 'none';
            }
        }
    }

    // Initialize first slide to show on page load
    showSlide(1);
</script>
