

<div class="main-box" style="padding-top:1rem">
    <a href="{% url 'consult:paymentlist' pk=target_consult.pk %}"  class="main-container-dashboard" >
        <div class="item-content">
            <span class="main-text-content">수업 입금 내역이 궁금하신가요?</span>
            <div class="main-array-row array-info" >
                <span class="main-text-content text-content">입금 내역</span>
                <span class="main-text-index">
                    {{payments}}개
                </span>
            </div>
        </div>
        <div class="material-icons item-nav" style="font-size:1.9rem;">zoom_in</div>
    </a>
</div>




