<style>
.text-link{
    display: inline-block;
    font-weight:var(--fontweight-index);
    font-size:1.75rem;
    color:var(--darkblue);
    text-decoration: underline;
    text-decoration-color:var(--darkblue);
    text-decoration-thickness: 1px;
    margin-left:0.5rem;
}

</style>

<div class="item-title" >
    <div class="text-emphasize">결제에</div>
    <span class="text-title">실패했습니다</span>
</div>

<div class="item-subtitle">지속 실패시
    <a href="{% url 'paymentapp:contact' pk=payment.pk %}" class="text-link">고객 센터</a>
    로 문의해주세요
</div>
<div class="item-content" >오류 방지를 위해 추가 결제를 3번 이상 진행하지 말아주세요!
    <a  href="{% url 'paymentapp:create' pk=payment.consult.pk %}"  class="link-nav">
    재결재 >
    </a>
</div>