<style>


.superuser-dashboard-head .btn-touched,
.superuser-dashboard-head .btn-untouched{
    align-self: flex-start;
    display: flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items: center;
    padding-left:1rem;
    padding-right:1rem;
    height:3rem;
    border-bottom:8px solid var(--color-base);
    color:var(--white);
    font-size:1.35rem;
    font-weight:var(--fontweight-index);
    margin-right: 0;
}

.superuser-dashboard-head .item-nav{
    margin-top:3rem;
    justify-content: space-between;
}

.superuser-dashboard-head .btn-untouched{
    border-bottom:12px solid var(--blackblue);
    color:var(--gray);
}
.superuser-dashboard-head .btn-view{
    align-self: flex-start;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    border-radius: 0.5rem;
    padding-left:1.2rem;
    padding-right:1.2rem;
    height:3rem;
    margin-left: auto;
    color:var(--white);
    background: var(--darkblue);
    font-size:1.35rem;
    font-weight:var(--fontweight-content);
}


</style>

<div class="superuser-dashboard-head contianer-head-superuser">
    <div class="main-array-row">
        <span class="head-text-classification">관리자</span><span class="head-text-title">대시보드</span>
        <a class="btn-view" href="{% url 'superuserapp:pageview' %}">방문자 관리</a>
    </div>
    <div class="item-nav">
        <button onclick="showSlide(1)" id="btn-slide1" class="btn-touched">입금</button>
        <button onclick="showSlide(2)" id="btn-slide2" class="btn-untouched">급여</button>
        <button onclick="showSlide(3)" id="btn-slide3" class="btn-untouched">계정</button>
        <button onclick="showSlide(4)" id="btn-slide4" class="btn-untouched">환불</button>
        <button onclick="showSlide(5)" id="btn-slide5" class="btn-untouched">선생님</button>
        <button onclick="showSlide(6)" id="btn-slide6" class="btn-untouched">기타</button>
    </div>
</div>



<script>
function showSlide(slideNumber) {
    for (let i = 1; i <= 6; i++) {
        const btn = document.querySelector(`#btn-slide${i}`);
        const slide = document.querySelector(`.superuser-dashboard-slide${i}`);
        if (i === slideNumber) {
            btn.classList.add('btn-touched');
            btn.classList.remove('btn-untouched');
            slide.style.display = 'block';
        } else {
            btn.classList.add('btn-untouched');
            btn.classList.remove('btn-touched');
            slide.style.display = 'none';
        }
    }
}

showSlide(1);
</script>