<div class="main-box" >
    <div class="main-array-title">
        <span class="main-text-title">입금 신청 목록</span>
    </div>
    {% if payments %}
        {% for payment in payments %}
        {% include 'snippets/paymentpay.html' %}
        {% if not forloop.last %}
        <div class="main-interval-items"></div>
        {% endif %}
        {% endfor %}
    {% else %}
        <div class="main-container-empty">
        <span class="text-empty">
        입금 목록이 존재하지 않습니다.
        </span>
        </div>
    {% endif %}
</div>
