<style>

.container-manageprofile .icon-abled,
.container-manageprofile .icon-disabled{
    color:var(--middleblue);
    font-width: 700;
    font-size: 1.4rem;
    margin-left: 1rem;
    background: var(--lightgray);
    padding:0.2rem;
    border-radius: 50%;
}
.container-manageprofile .icon-disabled{
    color: var(--red);
}
.container-manageprofile .item-highlight{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    background: var(--green);
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: var(--fontweight-content);
}
</style>

<div class="main-box">
        <div class="main-array-title">
        <span class="main-text-title">선생님 목록</span>
    </div>
    {% if profiles %}
        {% for profile in profiles %}
        <a href="{% url 'teacherapp:dashboard' pk=profile.teacher.pk %}"   class="container-manageprofile main-container-snippets">
            <div class="main-array-column">
                <div class="main-array-row">
                <span class="main-text-index">{{ profile.teacher.userrealname}}</span>
                {% if profile.state == 'abled' %}
                <span class="material-icons icon-abled">person</span>
                {% else %}
                <span class="material-icons icon-disabled">person_off</span>
                {% endif %}
                </div>
                <span class="main-text-content" style="margin-top:0.3rem;">{{ profile.teacher.user_phonenumber}}</span>
            </div>
            {% if profile.is_highlighted %}
            <div class="item-highlight material-icons">
                verified
            </div>
            {% endif %}
        </a>
        {% if not forloop.last %}
        <div class="main-interval-items"></div>
        {% endif %}
        {% endfor %}
    {% else %}
        <div class="main-container-empty">
        <span class="text-empty">
        선생님 목록이 없습니다
        </span>
        </div>
    {% endif %}
</div>