<style>
    .container-quesiton {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5rem calc(var(--main-padding-snippet) + 0.5rem);
        background: var(--white);
    }

    .container-quesiton .text-question {
        font-size: var(--fontsize-index);
        font-weight: var(--fontweight-content);
        color: #454854;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    .container-quesiton .text-title {
        font-size: 1.55rem;
        color: var(--black);
        font-weight: var(--fontweight-emphasize);
    }


    .container-quesiton .btn-image {
        font-size: var(--fontsize-index);
        font-weight: var(--fontweight-index);
        color: var(--middleblue);
    }
    .container-quesiton .btn-download {
        padding:0.2rem;
        background: var(--darkblue);
        font-size: 1.23rem;
        font-weight: 400;
        color: var(--white);
        margin-left: auto;
        border-radius: 0.3rem;
    }
</style>

<div class="container-quesiton">
    <span class="text-title">
    {{target_qna.title}}
    </span>
    <span class="text-question">{{target_qna.content|safe|linebreaksbr}}</span>
    {% if target_qna.image %}
    <div class="main-array-row">
    <button onclick="showquestionimage()" class="btn-image">질문 이미지 ></button>
    <a  class="btn-download material-icons" href="{{ target_qna.image.url }}" download>
        download
    </a>
    </div>
    <button onclick="closequestionimage()" id="questionimage-fullscreen" class="fullscreenimage">
        <div class="btn-exit material-icons">close </div>
        <img class="fullscreenimage-image" src="{{ target_qna.image.url }}">
    </button>
    {% endif %}
</div>

<script>
    function showquestionimage() {
        var element = document.getElementById("questionimage-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closequestionimage() {
        var element = document.getElementById("questionimage-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }
</script>