{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}



<header class="header-black">
    {% include 'headersnippets/logo.html' %}
    {% include 'headersnippets/dashboard.html' %}
</header>

<main style="padding-bottom: 0;">
    {% include 'homescreenapp/homescreensnippets/head.html' %}
    {% include 'homescreenapp/homescreensnippets/intro.html' %}
    {% include 'homescreenapp/homescreensnippets/strength.html' %}
    {% include 'homescreenapp/homescreensnippets/review.html' %}
    {% include 'homescreenapp/homescreensnippets/apply.html' %}
    {% if not request.user.is_authenticated or user.can_apply == True %}
    {% include 'homescreenapp/homescreensnippets/start.html' %}
    {% endif %}
    {% include 'homescreenapp/homescreensnippets/contact.html' %}
    {% include 'homescreenapp/homescreensnippets/teacherapply.html' %}
    {% if not request.user.is_authenticated or user.can_apply == True %}
    {% include 'homescreenapp/homescreensnippets/advertisement.html' %}
    {% endif %}
</main>
{% include 'homescreenapp/homescreensnippets/footer.html' %}
<script>
    function showImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closeImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }
</script>
{% endblock %}