{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
    .fullscreenimage-image{
        border:2px solid var(--whitegray)
    }
</style>

<header class="header-black">
    {% include 'headersnippets/logo.html' %}
    {% include 'headersnippets/dashboard.html' %}
</header>

<main style="padding-bottom: 0;">
    {% include 'homescreenapp/homescreensnippets/head.html' %}
    {% include 'homescreenapp/homescreensnippets/consulting.html' %}
    {% include 'homescreenapp/homescreensnippets/introduce.html' %}
    {% include 'homescreenapp/homescreensnippets/guide.html' %}
    {% include 'homescreenapp/homescreensnippets/apply.html' %}
    {% include 'homescreenapp/homescreensnippets/teacherapply.html' %}
    {% include 'homescreenapp/homescreensnippets/contact.html' %}

</main>
{% include 'homescreenapp/homescreensnippets/footer.html' %}

{% endblock %}