{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}


<header class="header-black">
    {% include 'headersnippets/logo.html' %}
    {% include 'headersnippets/dashboard.html' %}
</header>

<main style="padding-bottom: 0">
    {% include 'homescreenapp/homescreensnippets/head.html' %}
    {% include 'homescreenapp/homescreensnippets/consulting.html' %}
    {% include 'homescreenapp/homescreensnippets/qna.html' %}
    {% include 'homescreenapp/homescreensnippets/apply.html' %}
    {% include 'homescreenapp/homescreensnippets/guide.html' %}
</main>
{% include 'footer.html'  %}

{% endblock %}