{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<style>
main{
    padding-top: 14.5rem;
}

.main-hr-head{
    height:2px;
    background:var(--whitegray);
    width:100%;
}

</style>


<header class="header-black">
        {% include 'headersnippets/home.html' %}
        {% include 'headersnippets/dashboard.html' %}
</header>
<main>
{% include 'profileapp/listsnippets/head.html' %}
<div class="main-hr-head" style="margin-bottom: 1rem"></div>
    <div class="profile-list-slide1" style="display:block">
        {% include 'profileapp/listsnippets/all.html' %}
    </div>
    <div class="profile-list-slide2" style="display:none">
        {% include 'profileapp/listsnippets/sat.html' %}
    </div>
    <div class="profile-list-slide3" style="display:none">
        {% include 'profileapp/listsnippets/gpa.html' %}
    </div>
    <div class="profile-list-slide4" style="display:none">
        {% include 'profileapp/listsnippets/extra.html' %}
    </div>
    <div class="profile-list-slide5" style="display:none">
        {% include 'profileapp/listsnippets/middle.html' %}
    </div>
    <div class="profile-list-slide6" style="display:none">
        {% include 'profileapp/listsnippets/like.html' %}
    </div>
<!--<div class="main-hr-head"></div>-->
    {% include 'profileapp/listsnippets/btn.html' %}
</main>
{% endblock %}
