{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}



<header class="header-black">
        {% url 'teacherapp:dashboard' pk=target_profile.teacher.pk as url %}
        {% include 'headersnippets/navback.html' with url=url %}    
        {% with title="수업료 변경" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
</header>



<main>
    <div class="main-box">
        <div class="main-text-title-guideform" >*수업료 변경 주의 사항</div>
        <div class="main-container-guideform container-tuition">
            <div class="item-guide">
                <span class="text-content">
                    기존 컨설팅의 수업료는 변하지 않으며, 추후 추가되는 컨설팅의 수업료부터 변경됩니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                    수업료 변경 이후 <span class="text-emphasize">60일 동안</span> 변경이 불가능합니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                 금액을 너무 높게 설정하는 경우 매칭이 감소할 수 있습니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                실제 급여는
                <span class="text-emphasize">
                세금/수수료를 차감
                </span>
                    하는 것에 유의해 주세요.
                </span>
            </div>
            </div>
        </div>
    </div>
    <div class="main-box" style="padding-top:1rem;">
        <div class="main-container-guideform" >
        <form action="{% url 'profileapp:tuitionupdate' pk=target_profile.pk %}" method="post" onsubmit="return confirmUpdateProfile()">
            {% csrf_token %}{% bootstrap_form form %}
            <input type="submit" class="btn-submit" value="수업료 변경">
        </form>
        </div>
    </div>
</main>

<script>
    function confirmUpdateProfile() {
        var confirmMessage = "변경하실 수업료를 확인해주세요. 이후 60일간 변경이 불가능합니다.";
        return confirm(confirmMessage);
    }
</script>
{% endblock %}
