{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}


<header class="header-black">
        {% with title="수업료 변경" %}
        {% include 'headersnippets/title.html' %}
        {% endwith %}
        {% url 'teacherapp:dashboard' pk=target_profile.teacher.pk as url %}
        {% include 'headersnippets/exit.html' with url=url %}
</header>



<main>
    <div class="main-box">
        <div class="main-text-title-guideform" >* 수업료 변경 주의 사항</div>
        <div class="main-container-guideform">
            <div class="item-guide">
                <span class="text-content">
                수업료 변경은 60일 간격으로 가능하니 신중하게 결정해주세요!
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                매칭을 통한 새로운 수업의 수업료는 자동으로 프로필의 수업료로 설정됩니다.
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                수업료를 너무 높게 설정하는 경우 매칭이 감소할 수 있으니 이를 고려하여 변경해주세요!
            </span>
            </div>
            <div class="item-guide">
                <span class="text-content">
                현재 수업료는 {{target_profile.tuition}}0000원 입니다
                </span>
            </div>
            </div>
        </div>
    </div>
    <div class="main-box" style="padding-top:1rem;">
        <div class="main-container-guideform" >
        <form action="{% url 'profileapp:tuitionupdate' pk=target_profile.pk %}" method="post" onsubmit="return confirmUpdateProfile()">
            {% csrf_token %}{% bootstrap_form form %}
            {% if target_profile.is_payment_updated_possible == True %}
            <input type="submit" class="btn-submit" value="수업료 변경">
            {% endif %}
        </form>
        </div>
    </div>
</main>

<script>
    function confirmUpdateProfile() {
        var confirmMessage = "변경하실 수업료를 확인해주세요. 이후 60일간 변경이 불가능합니다.";
        return confirm(confirmMessage);
    }
</script>
{% endblock %}
