{% extends 'base_noback.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-black">
    {% with title="수업 개설" %}
    {% include 'headersnippets/title.html' %}
    {% endwith %}
    {% url 'applicationapp:detail' pk=target_user.application_student.pk as url %}
    {% include 'headersnippets/exit.html' with url=url %}
</header>

<main class="consult-create ">
    <div class="main-box">
        <div class="main-text-title-guideform">* 수업 개설 주의 사항</div>
        <div class="main-container-guideform">
            <div class="item-guide">
                <span class="text-content">수업 개설 이후 학생 정보를 변경할 수 있습니다.</span>
            </div>
            <div class="item-guide">
                <span class="text-content">정해진 수업료는 이후 변경 불가능합니다.</span>
            </div>
            <div class="item-guide">
                <span class="text-content">48시간 내 수업료가 입금되지 않으면 수업이 자동 삭제됩니다.</span>
            </div>
        </div>
    </div>
    <div class="main-box" style="padding-top:2rem;">
        <div class="main-text-title-guideform">다음 정보로 수업이 개설됩니다</div>
        <div class="main-container-guideform">
            <div class="item-info">
                <span class="text-content">담당 선생님</span>
                <span class="main-text-rowindex">{{ user.userrealname}} 선생님</span>
            </div>
            <div class="item-info">
                <span class="text-content">담당 학생</span>
                <span class="main-text-rowindex">{{ target_user.userrealname}} 학생</span>
            </div>
            <div class="item-info">
                <span class="text-content">학생 정보</span>
                <span class="main-text-rowindex">
                    {{ target_user.application_student.belong }}, {{ target_user.application_student.get_age_display }}
                </span>
            </div>
            <div class="item-info">
                <span class="text-content">4주 수업료</span>
                <span class="main-text-rowindex">{{ user.profile.tuition }}원</span>
            </div>
            <form action="{% url 'consultapp:create' pk=target_user.pk %}"
                  method="post" onsubmit="return confirmCreateConsult()">{% csrf_token %}{% bootstrap_form form %}
                <input type="submit" class="btn-submit" value="수업개설">
            </form>
        </div>
    </div>
</main>

<script>
    function confirmCreateConsult() {
        var confirmMessage = "개설 정보를 확인해주세요. 수업을 개설하시겠습니까?.";
        return confirm(confirmMessage);
    }
</script>

{% endblock %}