{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}

<header class="header-white">
    {% if target_consult.state == 'new' %}
    {% include 'headersnippets/home.html' %}
    {% include 'headersnippets/account.html' %}
    {% else %}
    {% url 'consultapp:dashboard' pk=target_consult.pk as url %}
    {% include 'headersnippets/navback.html' with url=url %}
    {% endif %}
</header>


<main class="main-guide">
    <div class="main-container-guide">
        <div class="item-title">
            <div class="text-emphasize">&nbsp;&nbsp;입금 확인</div>
            <span class="text-title">대기중&nbsp;<span style="font-size: 1.9rem">&#8987;</span></span>
        </div>
        <div class="item-subtitle">
            확인까지 최대 4시간이 소요됩니다
        </div>
        <span class="item-content">확인 및 문의 가능 시간은 9:00 ~ 22:00이며,
            기간 내 확인되지 않는 경우 고객센터로 문의해 주세요
                    <a href="{% url 'homescreenapp:contact' %}" class="link-nav">
        문의하기 >
        </a>
        </span>
    </div>
</main>

{% endblock %}

