

<style>
    .container-simplead {
        opacity: 1;
        transition: opacity 1s;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding:1.6rem var(--main-padding);
        position:fixed;  
        bottom:0;
        left: 0;
        background:var(--blackblue);
    }
    .container-simplead .icon-nav{
        margin-left: 0.7rem;
        font-size: 1.4rem;
        color: var(--mint);
        font-weight: var(--fontweight-emphasize);
    }
    
    .container-simplead .text-event{
        font-weight: var(--fontweight-index);
        font-size: 1.5rem;
        color: var(--white);
        margin-left: auto;
    }
    
    .container-simplead .item-simplead{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0.5rem var(--content-padding);
        border-radius: 1rem;
        background: var(--mint);
        flex-shrink: 0;
        color: var(--black);
        font-size: 1.4rem;
        font-weight: var(--fontweight-emphasize);
    }



    .container-fullad {
        background:rgba(59, 61, 74, 0.6);
        display: none;
        transition: opacity 1s;
        justify-content: flex-end;

    }
    .container-fullad .array-fullad {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background:var(--blackblue);
        padding:0 0 3rem 0;
        width: 100%;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;

    }

    .container-fullad .item-exit{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        height: 3.7rem;
        margin-bottom:3.5rem;
        width: 100%;
        background: var(--gray);
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
    }

    .container-fullad .btn-exit{
        padding-left: 12%;
        padding-right: 3%;
        font-weight:400;
        font-size:2.4rem;
        color:var(--white);
        background: transparent;
    }


    .container-fullad .item-price {
        padding:1.5rem var(--content-padding);
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        border-bottom-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background: #404354;
        flex-shrink: 0;
    }
    .container-fullad .text-normal {
        font-size: var(--fontsize-content);
        color: var(--whitegray);
        font-weight: var(--fontweight-content);
    }
    .container-fullad .icon-arrow {
        font-size: 1.7rem;
        color: var(--mint);
        font-weight: var(--fontweight-emphasize);
        margin-left: 0.5rem;
        margin-right: 1rem;
    }
    .container-fullad .text-help {
        font-size: 1.23rem;
        color: var(--darkgray);
        font-weight:400;
        margin-top:1rem
    }
    .container-fullad .text-price {
        font-size: 1.73rem;
        color: var(--mint);
        font-weight: var(--fontweight-emphasize);
    }
    .container-fullad .item-info {
        padding:1rem var(--content-padding);
        background: var(--white);
        width: 100%;
        border-radius: 0;
        border-top-right-radius: 0.5rem;
        border-top-left-radius: 0.5rem;
        flex-shrink: 0;
    }



    .container-fullad .container-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 85%;
        border-radius: 0.5rem;
        background: #595d73;
        flex-shrink: 0;
    }

    .container-fullad .text-index{
        font-size: 1.37rem;
        color:var(--black);
        font-weight:var(--fontweight-index);
    }

</style>
<button onclick="showAd()" class="main-container-homescreen container-simplead">
    <div class="item-simplead">
        가격 및 혜택
    </div>
    <div class="text-event">{{target_month}}월 첫 수업 혜택!</div>
    <span class="icon-nav material-icons">arrow_forward_ios</span>
</button>

<div class="fullscreeninfo container-fullad">
    <div class="item-content array-fullad">
        <div class="item-exit">
            <button class="btn-exit material-icons" onclick="closeAd()">
                cancel
            </button>
        </div>
        <div class="container-info">
            <div class="item-info">
                <span class="text-index">1개월 수업료 기준</span>
            </div>
            <div class="item-price">
                <span class="text-normal">정상가 16 ~22만원</span>
                <span class="material-icons icon-arrow">arrow_forward</span>
                <span class="text-price">25% 할인</span>
            </div>
    
        </div>
        <div class="text-help">* 수업료는 선생님에 따라 가격이 상이할 수 있습니다.</div>
    </div>    
</div>

<script>
    window.onload = function () {
        var popup = document.getElementsByClassName('container-fullad')[0];
        var adButton = document.getElementsByClassName('container-simplead')[0];

        setTimeout(function () {
            closeAd();
        }, 9000);
    };

    function closeAd() {
        var popup = document.getElementsByClassName('container-fullad')[0];
        var adButton = document.getElementsByClassName('container-simplead')[0];

        popup.style.opacity = "0";
        setTimeout(function () {
            popup.style.display = "none";
            adButton.style.display = "flex";
            adButton.style.opacity = "1";
        }, 1000);
    }

    function showAd() {
        var popup = document.getElementsByClassName('container-fullad')[0];
        var adButton = document.getElementsByClassName('container-simplead')[0];


        adButton.style.display = "none";

        popup.style.display = "flex";
        setTimeout(function() {
            popup.style.opacity = "1";
        }, 0);
    }
</script>