<style>
    .container-consulting {
        background: linear-gradient(5deg, var(--white), var(--whiteblue),
        var(--whiteblue), var(--whiteblue), var(--white));
    }

    .container-consulting .bg-conatiner-top,
    .container-consulting .bg-conatiner-bottom,
    .container-consulting .bg-conatiner-left {
        background: #f2f5fc;
        width: 40%;
        height: 35%;
        position: absolute;
        z-index: -1;
    }

    .container-consulting .bg-conatiner-left {
        background: var(--white);
        border-top-right-radius: 100% 50%;
        border-bottom-right-radius: 100% 50%;
        left: 0;
        top: 40%;
    }
    .container-consulting .bg-conatiner-bottom{
        background: #eef2fb;
        border-top-left-radius: 100% 100%;
        right: 0;
        bottom: 0;
        width: 30%;
        height: 15%;
    }

    .container-consulting .bg-conatiner-top {
        border-bottom-left-radius: 100% 100%;
        right: 0;
        top: 0;
        width: 37%;
        height: 13%;
    }

    .container-consulting .item-consulting {
        width: 100%;
        border-radius: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 3rem;
        box-shadow: var(--shadow-itembox);
        border: 1.5px solid #d1d6e0;
        background: linear-gradient(45deg, #1d2135, #2d3352, #2d3352, #1d2135);

    }


    .container-consulting .item-consulting-whiteblue {
        background: linear-gradient(-45deg, #e6ecfa, #f0f3fe, #f0f3fe, #e6ecfa);
    }

    .container-consulting .item-consulting-darkgreen {
        background: linear-gradient(45deg, #1d2d35, #2d4552, #2d4552, #1d2d35);
    }

    .item-consulting .image-left-left,
    .item-consulting .image-left-right,
    .item-consulting .image-right-right,
    .item-consulting .image-right-left {
        width: 50%;
        height: 13rem;
        object-fit: cover;
        object-position: top;
        border: 1.5px solid #d1d6e0;
    }

    .item-consulting .image-left-left{
        border-bottom-left-radius: 0.4rem;
        border-left: none;
        border-bottom: none;
    }

    .item-consulting .image-left-right {
        border-top-right-radius: 0.5rem;
        border-bottom: none;
    }
    .item-consulting .image-right-right {
        border-bottom-right-radius: 0.4rem;
        border-right: none;
        border-bottom: none;
    }
    .item-consulting .image-right-left {
        border-top-left-radius: 0.5rem;
        border-bottom: none;
    }

    .item-consulting .item-image-left,
    .item-consulting .item-image-right {
        display: flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        width: 57%;
        background: transparent;
        position: relative;
    }

    .item-consulting .item-image-left {
        margin-right: auto;
    }

    .item-consulting .item-image-right {
        margin-left: auto;
    }

    .item-consulting .icon-arrow {
        color: var(--darkblue);
        font-size: 2rem;
        font-weight: 600;
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }


    .item-consulting .text-explain-white {

        font-weight: var(--fontweight-content);
        color: var(--white);
        margin: 2.5rem auto 2.5rem var(--content-padding);
    }


    .item-consulting .array-explain-dark {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        margin: 2.5rem var(--content-padding) 2.5rem auto

    }

    @media screen and (min-width: 600px) {
        .item-consulting .image-left-left,
        .item-consulting .image-left-right,
        .item-consulting .image-right-right,
        .item-consulting .image-right-left {
            height: 15rem;
        }

        .item-consulting .item-image-left,
        .item-consulting .item-image-right {
            width: 54%;
        }

        .container-consulting .bg-conatiner-left {
            width: 15%;
            height: 50%;

        }
        .container-consulting .bg-conatiner-bottom {
            width: 12%;
            height: 17%;

        }

        .container-consulting .bg-conatiner-top {
            width: 25%;
            height: 35%;
        }

    }
    @media screen and (min-width: 800px) {
        .item-consulting .image-left-left,
        .item-consulting .image-left-right,
        .item-consulting .image-right-right,
        .item-consulting .image-right-left {
            height: 17rem;
        }
    }


</style>
<div class="main-container-homescreen container-consulting" id="container-consulting">
    <div class="bg-conatiner-top"></div>
    <div class="bg-conatiner-left"></div>
    <div class="bg-conatiner-bottom"></div>
    <div class="text-subtitle">
        올인원 학습 컨설팅이란?
    </div>
    <div class="text-title">
        <span class="text-emphasize">매칭부터 수업</span>까지의 모든 과정을<br>
        <span class="text-emphasize">한 번에 </span>만나볼 수 있는 서비스입니다.
    </div>
    <div class="item-consulting" style="margin-top:2rem;">
        <div class="text-index text-explain-white">간단한 매칭을 통해 만나는<br>서울대, 의대생 선생님</div>
        <div  class="item-image-right">
            <img class="image-right-left" src='/static/images/homescreen-consulting-1-1.png'
                 onclick="showImage('consultingQnaimage-1');">
            <img class="image-right-right" src='/static/images/homescreen-consulting-1-2.png'
                 onclick="showImage('consultingQnaimage-2');">
            <div class="icon-arrow material-icons">ads_click</div>
        </div>
    </div>
    <div class="item-consulting item-consulting-whiteblue">
        <div class="array-explain-dark">
            <div class="text-index text-explain-dark">
                주1회 50분, 비대면으로 진행하는
            </div>
            <div class="text-index text-explain-dark">
                1:1 학습 코칭과 학습 플랜 작성
            </div>
        </div>
        <div class="item-image-left">
            <img class="image-left-left" src='/static/images/homescreen-consulting-2-1.png' 
                 onclick="showImage('consultingPlanimage-1');">            
            <img class="image-left-right" src='/static/images/homescreen-consulting-2-2.png' 
                 onclick="showImage('consultingPlanimage-2');">
            <div class="icon-arrow material-icons">ads_click</div>
        </div>
    </div>
    <div class="item-consulting item-consulting-darkgreen ">
        <div class="text-index text-explain-white">24시간 언제든 가능한 <br>학습 질문 답변 시스템</div>
        <div class="item-image-right">
            <img class="image-right-left" src='/static/images/homescreen-consulting-3-1.png'
                onclick="showImage('consultingMatchingimage-1');">
            <img class="image-right-right" src='/static/images/homescreen-consulting-3-2.png'
                onclick="showImage('consultingMatchingimage-2');">
            <div class="icon-arrow material-icons">ads_click</div>
        </div>
    </div>
</div>
<button onclick="closeImage('consultingQnaimage-1');" id="consultingQnaimage-1-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-1-1.png'>
</button>
<button onclick="closeImage('consultingQnaimage-2');" id="consultingQnaimage-2-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-1-2.png'>
</button>
<button onclick="closeImage('consultingPlanimage-1');" id="consultingPlanimage-1-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-2-1.png'>
</button>
<button onclick="closeImage('consultingPlanimage-2');" id="consultingPlanimage-2-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-2-2.png'>
</button>
<button onclick="closeImage('consultingMatchingimage-1');" id="consultingMatchingimage-1-fullscreen"
        class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-3-1.png'>
</button>
<button onclick="closeImage('consultingMatchingimage-2');" id="consultingMatchingimage-2-fullscreen"
        class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-consulting-3-2.png'>
</button>
<script>
    function showImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closeImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }
</script>