<style>
    .container-consulting {
        background: linear-gradient(30deg, white, white,#f5f7ff,white,#f5f7ff, #f5f7ff);
        align-items: flex-start;
    }

    .container-consulting .text-subtitle{
        color: var(--middleblue);
        font-size:1.4rem;
        font-weight: var(--fontweight-content);
        margin-right: auto;
        background: #e5eaff;
        border-radius: 0.7rem;
        padding:0.5rem 0.6rem;
        margin-bottom: 1rem;
}
    .container-consulting .item-image{
        width:100%;
        border-radius: 0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top:3rem;
        border:1px solid #dae4f1;
        box-shadow: 0px 3px 10px #a7abbe;
}
.container-consulting .image-darkblue{
        background: var(--blackblue);
        border:1px solid #ced1e4;

}.container-consulting .image-darkpurple{
        background: #1A3540;
        border:1px solid #c9e0e9;

}
    .container-consulting .image-whiteblue{
        background:#e1e8f4;
        border:1px solid #c2d1f0;
}
    .item-image .image-left,
    .item-image .image-right{
        width: 70%;
        height: 11rem;
}    .item-image .image-left{
        margin-right: auto;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0.7rem;
} .item-image .image-right{
        margin-left: auto;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0.7rem;
}
    .item-image .text-explain{
    font-weight: 400;
    font-size: 1.4rem;
    color:var(--white);
        margin:2.5rem auto 3rem var(--content-padding);

}    .item-image .text-explain-dark{
    font-weight: var(--fontweight-content);
    font-size: 1.4rem;
    color:var(--black);
        margin:2.5rem var(--content-padding) 3rem auto

}


</style>

<div class="main-container-homescreen container-consulting">
     <div class="text-subtitle">
        학습 컨설팅
    </div>
    <div class="text-index interval-title">
        <span class="text-emphasize">서울대, 의대</span> 선생님들이 1대1로<br> 진행하는
        <span class="text-emphasize">학습 컨설팅을</span> 만나보세요
    </div>
    <div class="item-image image-darkblue" style="margin-top:2rem;">
        <div class="text-explain">3단계의 간단한 매칭 과정과<br>16만원 대의 합리적 가격</div>
        <img class="image-right" src='/static/images/homescreen1.png'>
    </div>
    <div class="item-image image-whiteblue"  >
        <div class="text-explain-dark">
            주1회 4주간 진행하는<br>학습 플랜 및 과목 피드백 </div>
        <img class="image-left" src='/static/images/homescreen1.png'>
    </div>
      <div class="item-image image-darkpurple" >
        <div class="text-explain">
            수능, 내신 상위 1%<br>선생님들의 학습 코칭</div>
        <img class="image-right" src='/static/images/homescreen1.png'>
    </div>
</div>
