<style>
    .container-contact {
        background: var(--white);
        align-items: center;
        padding-bottom: 8rem;

    }


    .container-contact .img-contact {
        width: 4rem;
        height: 4rem;
        object-fit: cover;

    }

    .container-contact .btn-openkakako,
    .container-contact .btn-mail {
        margin-left: 1rem;
        width: 100%;
        padding-top: 1rem;
        padding-bottom: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 0.5rem;
        font-size: 1.4rem;
        font-weight: var(--fontweight-content);
        color: var(--black);
        box-shadow: 0px 2px 6px #bdc1d6;
        border:1.5px solid #478549;
        background: #59a65c;
        color: var(--white);
    }

    .container-contact .btn-openkakako {
        background: #f6e655;
        border:1.5px solid #dfcc20;
        font-size: 1.35rem;
        font-weight: var(--fontweight-index);
        color: var(--black);
    }



    .container-contact .item-contact {
        width: 87%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-top: 1rem;
    }
</style>

<div class="main-container-homescreen container-contact">
    <div class="text-title">
        더 <span class="text-emphasize">궁금하신 점</span>이 있으신가요?
    </div>
    <div class="text-title" style="margin-bottom: 1rem;">
        언제든 <span class="text-emphasize">고객센터로</span> 문의주세요.
    </div>
    <div class="item-contact">
        <img class="img-contact" src='/static/icons/email.png'>
        {% if document.email_link %}
        <a href={{document.email_link}} class="btn-mail">메일로 문의하기</a>
        {% else %}
        <a class="btn-mail">메일로 문의하기</a>
        {% endif %}
    </div>
    <div class="item-contact">
        <img class="img-contact" src='/static/icons/kakaotalk.png'>
        {% if document.email_link %}
        <a href={{document.kakaotalk}} class="btn-openkakako">카카오톡 문의하기</a>
        {% else %}
        <a class="btn-openkakako">카카오톡 문의하기</a>
        {% endif %}
    </div>
</div>