<style>
    .container-contact {
        background: var(--white);
        padding-bottom: 7rem;
    }

    .container-contact .img-icon {
        width: 3rem;
        height: 3rem;
        object-fit: cover;
        margin-right: var(--content-padding);
    }



    .container-contact .item-contact{
        padding:0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width:85%;
        background: #f6f6f9;
        border-radius: 0.5rem;
        height: 5rem;
        margin-top:2rem;
        border:none;
    }
    .container-contact .btn-left {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding-left: var(--content-padding);
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        width:100%;
        height: 5rem;
    }
    .container-contact .btn-sns{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-top-right-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        font-weight: var(--fontweight-emphasize);
        font-size: 1.6rem;
        color: var(--white);
        width:15%;
        height: 5rem;
        background: var(--middlegray);
    }
    .container-contact .main-text-index{
        color:#626c84;
    }





</style>

<div class="main-container-homescreen container-contact">
  <div class="text-title">
        수업을 <span class="text-emphasize">시작하기 전</span> 언제나<br>
        <span class="text-emphasize">학습 상담을 진행</span>할 수 있어요!
    </div>
        {% if document.kakaotalk  %}
        <a href={{document.kakaotalk }} target="_blank" rel="noopener noreferrer" class="item-content item-contact" >
        {% else %}
        <a class="item-content item-contact" >
        {% endif %}
            <div class="btn-left" >
                <img class="img-icon" src='/static/icons/kakaotalk.png'>
                <span class="main-text-index">카톡 고객센터</span>
            </div>
            <span class="btn-sns material-icons">arrow_forward_ios</span>
        </a>
  <div class="text-title" style="margin-top:5rem">
        저희 코치들이 <span class="text-emphasize">직접 발행하는</span><br>
        <span class="text-emphasize">수험생 입시 컨텐츠</span>를 만나보세요!
    </div>
        {% if document.instagram  %}
        <a href={{document.instagram }} target="_blank" rel="noopener noreferrer" class="item-content item-contact">
        {% else %}
        <a class="item-content item-contact">
        {% endif %}
            <div class="btn-left" >
                <img class="img-icon" src='/static/icons/instagram.png'>
                <span class="main-text-index">인스타그램</span>
            </div>
            <span class="btn-sns material-icons">arrow_forward_ios</span>
        </a>
            {% if document.blog  %}
        <a href={{document.blog }} target="_blank" rel="noopener noreferrer" class="item-content item-contact">
        {% else %}
        <a class="item-content item-contact">
        {% endif %}
            <div class="btn-left" >
                <img class="img-icon" src='/static/icons/naver.png'>
                <span class="main-text-index">네이버 블로그</span>
            </div>
            <span class="btn-sns material-icons">arrow_forward_ios</span>
        </a>

</div>