<style>
    .container-guide {
        background: linear-gradient(5deg, var(--white),
        var(--color-base), var(--color-base), var(--color-base), var(--white));
    }

    .container-guide .bg-conatiner-right,
    .container-guide .bg-conatiner-left {
        background: #f6f6f9;
        width: 40%;
        height: 25%;
        position: absolute;
        z-index: -3;
    }

    .container-guide .bg-conatiner-right {
        border-top-left-radius: 100% 100%;
        right: 0;
        bottom: 0;
    }

    .container-guide .bg-conatiner-left {
        border-bottom-right-radius: 100% 100%;
        left: 0;
        top: 0;
        width: 55%;
        height: 40%;
    }

    .container-guide .item-guide {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1.7rem 7%;
        width: 95%;
        border-radius: 0.5rem;
        background: var(--white);
        box-shadow: var(--shadow-itembox);
    }


    .container-guide .circle {
        background: #323858;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 2.5rem;
        height: 2.5rem;
        font-size: var(--fontsize-detail);
        color: var(--white);
        font-weight: var(--fontsize-emphasize);
        border-radius: 0.5rem;
        margin-right: var(--content-padding);
        flex-shrink: 0;
    }

    .container-guide .item-arrow {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2.5rem;
        width: 100%;
        color: var(--darkblue);
        font-weight: var(--fontsize-emphasize);
        height: 4rem;
    }


    .container-guide .text-blue {
        font-size: inherit;
        color: var(--middleblue);
        font-weight: var(--fontweight-index);
    }

    @media screen and (min-width: 1000px) {
        .container-guide .bg-conatiner-left {
            width: 30%;
            height: 50%;

        }

        .container-guide .bg-conatiner-right {
            width: 25%;
            height: 45%;
        }

    }

</style>

<div class="main-container-homescreen container-guide">
    <div class="bg-conatiner-right"></div>
    <div class="bg-conatiner-left"></div>
    <div class="text-subtitle">
        진행 과정이 궁금해요!
    </div>
    <div class="text-title" style="margin-bottom: 2rem;">
        직관적이고 <span class="text-emphasize">간단한</span>
        진행 과정과</br>
        세세한 <span class="text-emphasize">컨설팅 가이드가 </span> 제공됩니다!
    </div>
    <div class="item-guide">
        <div class="circle">1</div>
        <div class="text-content ">
            선생님을 선택 후 양식에 맞게 <span class="text-blue">매칭 신청서를 </span> 작성합니다.
        </div>
    </div>
    <div class="item-arrow material-icons">expand_more</div>
    <div class="item-guide" style="margin-left: auto;">
        <div class="circle">2</div>
        <div class="text-content ">
            <span class="text-blue">시범과외를</span> 진행하고 수업이 성사되면 수업료를 입금합니다.
        </div>

    </div>
    <div class="item-arrow material-icons">expand_more</div>
    <div class="item-guide">
        <div class="circle">3</div>
        <div class="text-content ">
            주1회 50분의 <span class="text-blue">비대면 수업</span>을 진행하며
            <span class="text-blue">학습 계획/피드백을</span>
            작성하고 <span class="text-blue">질문 답변</span>이 가능합니다.
        </div>
    </div>
    <div class="item-arrow material-icons">expand_more</div>
    <div class="item-guide" style="margin-left: auto;">
        <div class="circle">4</div>
        <div class="text-content ">
            수업 종료 이전까지 자유롭게 수업을<span class="text-blue"> 연장할</span> 수 있습니다.
        </div>
    </div>

</div>