<style>
    .container-guide {
        background:linear-gradient(30deg,
        #f2f2f7,#f2f2f7,#ececf3, #f2f2f7, #ececf3, #f2f2f7,#f2f2f7);
        align-items: flex-start;
    }

    .container-guide .item-guide {
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        align-items: center;
        padding: 2rem 7%;
        width: 100%;
        margin-right: auto;
        border-radius: 0.7rem;
        background:var(--white);
    box-shadow: 0px 1px 3px #c4c7d4;
      position: relative;
    }



    .container-guide .text-content {
        font-weight: var(--fontweight-content);
        font-size: 1.37rem;
    }


    .container-guide .circle {
      background: var(--blackblue);
              display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      width: 2.8rem;
      height: 2.8rem;
      font-size: 1.3rem;
      color: var(--white);
      font-weight: var(--fontsize-emphasize);
      border-radius: 50%;
      margin-right: 7%;
      flex-shrink: 0;
    }

    .container-guide .item-arrow {
              display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      font-size: 3rem;
      width: 100%;
      color: var(--darkblue);
      font-weight: var(--fontsize-emphasize);
      height:  4rem;
    }


    .container-guide .text-blue {
        font-size: 1.38rem;
        color: var(--middleblue);
        font-weight: var(--fontweight-content);
    }
</style>

<div class="main-container-homescreen container-guide">
    <div class="text-index" style="margin-bottom: 2rem">
        <span class="text-emphasize">학습 컨설팅의</span> 매칭부터  </br>
        수업까지 <span class="text-emphasize">진행 과정이</span> 궁금하신가요?
    </div>
    <div class="item-guide">
        <div class="circle">1</div>
        <div class="text-content ">
            선생님을 선택 후 양식에 맞게 <span class="text-blue">수업 신청서를 </span> 작성하고 수락을 대기합니다.
        </div>
    </div>
  <div class="item-arrow material-icons">expand_more</div>
  <div class="item-guide">
<div class="circle">2</div>
        <div class="text-content " >
            <span class="text-blue">시범과외를</span> 진행하고 수업이 성사되면 수업료를 입금합니다.
        </div>

    </div>
  <div class="item-arrow material-icons">expand_more</div>
  <div class="item-guide" >
          <div class="circle">3</div>
        <div class="text-content " >
            주1회 50분의 <span class="text-blue">비대면 수업</span>을 진행하며
          <span class="text-blue">학습 계획/피드백을</span>
          작성하고 <span class="text-blue">질문 답변</span>이 가능합니다.
        </div>
    </div>
  <div class="item-arrow material-icons">expand_more</div>
  <div class="item-guide" >
          <div class="circle">4</div>
        <div class="text-content " >
            수업 종료 이전까지 자유롭게 수업을<span class="text-blue"> 연장할</span> 수 있습니다.
        </div>
    </div>

</div>