<style>
    .container-head {
        padding-top: 8rem;
        padding-bottom: 8.5rem;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-15deg, #1d2134, #30354f,#1d2134, #1d2134, #1d2134, #1d2134);

    }

    .container-head .text-intro {
        color: var(--white);
        font-size: 1.83rem;
        font-weight: var(--fontweight-index);
    }

    .container-head .text-program {
        margin-bottom: 2rem;
        margin-top: 0.3rem;
    }

    .container-head .text-emphasize {
        font-size: 1.85rem;
        font-weight: var(--fontweight-title);
        color: var(--lightblue);
    }

    .container-head .btn-teacher {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 1rem 1.5rem;
        background: var(--white);
        border-radius: 0.5rem;
    }
</style>

<div class="main-container-homescreen container-head">
    <div class="text-intro text-teacher">
        <span class="text-emphasize">상위 1%</span>
        선생님들의
    </div>
    <div class="text-intro text-program">
        1:1 맞춤형
        <span class="text-emphasize">학습 컨설팅</span>
        프로그램
    </div>
    <a href="{% url 'profileapp:list' %}" class="btn-teacher">
        <span class="text-btn">&nbsp;Plan&Coach 선생님 확인하기 ></span>
    </a>
</div>