<style>
.container-head{
    padding-top:8rem;
    padding-bottom:8rem;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, #303550, #1d2134);
 }
.container-head .text-teacher{
    color: var(--white);
    font-size:2rem;
    font-weight: var(--fontweight-emphasize);
}
.container-head .text-program{
    color: var(--white);
    font-size:2rem;
    font-weight: var(--fontweight-emphasize);
    margin-bottom: 1.3rem;
    margin-top: 0.3rem;
}


.container-head .text-emphasize{
    font-size: inherit;
    font-weight: inherit;
    color: var(--whitegreen);
}




.container-head .btn-teacher{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1rem 1.5rem;
    background: #434a70;
    border-radius: 1rem;
    color: var(--white);
    font-size: 1.6rem;
    font-weight: var(--fontweight-content);
}
</style>

<div class="main-container-homescreen container-head">
    <div class="text-teacher">국내 최상위 선생님들의</div>
    <div class="text-program">일대일 <span class="text-emphasize">학습 컨설팅</span> 프로그램</div>
    <a href="{% url 'profileapp:list' %}" class="btn-teacher">
    &nbsp;Plan & Coach 선생님 확인하기 &#128073;{{user.user_consult.pk}}
    </a>
</div>