<style>
    .container-head {
        padding-top: 5rem;
        padding-bottom: 6rem;
        justify-content: center;
        align-items: center;
        background: linear-gradient(-15deg, #1d2134, #30354f,#1d2134, #1d2134, #1d2134, #1d2134);

    }

    .container-head .text-intro {
        color: var(--white);
        font-size: 1.7rem;
        font-weight: var(--fontweight-index);
    }

    .container-head .text-program {
        margin-top: 0.2rem;
    }

    .container-head .text-emphasize {
        font-size: 1.7rem;
        font-weight: var(--fontweight-title);
        color: var(--lightblue);
    }

    .container-head .btn-teacher {
        color: var(--black);
        font-size: 1.45rem;
        font-weight: var(--fontweight-index);
        padding: 1rem 1.5rem;
        background: var(--white);
        margin-top:2rem;
        width: fit-content;
        border-radius: 0.5rem;
    }
</style>

<div class="main-container-homescreen container-head">
    <div class="text-intro text-teacher">
        <span class="text-emphasize" >상위 1%</span>
        의 공부법이
    </div>
    <div class="text-intro text-program">
        어느새
        <span class="text-emphasize" >나의 실력이</span>
        됩니다
    </div>
</div>