<style>
    .container-introduce {
        background: linear-gradient(-135deg,
        #303550, #1d2134, #1d2134, #303550);
    }

    .container-introduce .item-introduce {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.7rem 7%;
        margin: 1%;
        width: 47%;
        border-radius: 0.5rem;
        background: var(--white);
        box-shadow: var(--shadow-itembox-info);
        margin-top: 2rem;
        flex-shrink: 0;
    }


    .container-introduce .icon-check {
        font-size: 1.35rem;
        display: inline-block;
        font-weight: 900;
        color: var(--middleblue);
        position: relative;
        bottom: 0.15rem;
        margin-left: 0.3rem;
        text-shadow: 0 0 1.5px var(--middleblue);
    }


    .container-introduce .array-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        width: 100%;
    }

</style>

<div class="main-container-homescreen container-introduce">
    <div class="text-title-white">
        <span class="text-emphasize-white">학습 컨설팅은</span>
        처음이신가요?<br>
        언제든
        <span class="text-emphasize-white">부담없이&nbsp;</span>
        수업을 신청하세요
    </div>
    <div class="array-items">
        <div class="item-introduce">
        <span class="text-index interval-index">
            당일 무료 환불
            <span class="icon-check material-icons">done</span>
        </span>
            <div class="text-content ">
                수업 신청 당일 </br>
                전액 환불 보장
            </div>
        </div>
        <div class="item-introduce">
      <span class="text-index interval-index">
          간결한 매칭
        <span class="icon-check material-icons">done</span>
      </span>
            <div class="text-content">
                세밀한 신청서와 </br>
                자유로운 시범수업
            </div>
        </div>
        <div class="item-introduce">
      <span class="text-index interval-index">
          자유로운 환불
        <span class="icon-check material-icons">done</span>
      </span>
            <div class="text-content">
                수업 도중 언제든</br>
                가능한 환불 시스템
            </div>
        </div>
        <div class="item-introduce">
            <span class="text-index interval-index">
                합리적 수업료
                <span class="icon-check material-icons">done</span>
            </span>
            <div class="text-content">
                4주 16만원 대의 </br>
                가성비 좋은 수업료
            </div>
        </div>

    </div>
</div>