<style>
    .container-introduce {
        background: linear-gradient(-135deg,
        #303550, #1d2134, #1d2134, #303550);
    }

    .container-introduce .item-introduce {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 1.7rem 6%;
        width: 48%;
        border-radius: 0.5rem;
        background: var(--white);
        box-shadow: var(--shadow-itembox-info);
        margin-top: 2rem;
        flex-shrink: 0;
    }


    .container-introduce .icon-check {
        font-size: 1.3rem;
        display: inline-block;
        font-weight: 900;
        color: var(--middleblue);
        position: relative;
        bottom: 0.2rem;
        margin-left: 0.2rem;
        text-shadow: 0 0 1.5px var(--middleblue);
    }


    .container-introduce .array-items {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-flow: wrap;
        width: 100%;
    }

    .container-introduce .text-index {
        font-size: 1.3rem;
    }

</style>

<div class="main-container-homescreen container-introduce">
    <div class="text-title-white">
        <span class="text-emphasize-white">학습 컨설팅이</span>
        처음이신가요?<br>
        언제든
        <span class="text-emphasize-white">부담없이&nbsp;</span>
        시작할 수 있습니다.
    </div>
    <div class="array-items">
        <div class="item-introduce">
        <span class="text-index interval-index">
            환불 제도
            <span class="icon-check material-icons">done</span>
        </span>
            <div class="text-content ">
                컨설팅 도중</br>
                언제든 환불 보장
            </div>
        </div>
        <div class="item-introduce">
      <span class="text-index interval-index">
          수업 전 상담
        <span class="icon-check material-icons">done</span>
      </span>
            <div class="text-content">
                컨설팅 시작 전 </br>
                선생님과의 상담
            </div>
        </div>
        <div class="item-introduce">
      <span class="text-index interval-index">
          간편 결제 기능
        <span class="icon-check material-icons">done</span>
      </span>
            <div class="text-content">
                간편한 계좌이체와 </br>
                수업료 납부 관리
            </div>
        </div>
        <div class="item-introduce">
            <span class="text-index interval-index">
                합리적 수업료
                <span class="icon-check material-icons">done</span>
            </span>
            <div class="text-content">
                4주 16만원 대의 </br>
                부담 없는 수업료
            </div>
        </div>

    </div>
</div>