<style>
    .container-questions {
        background: #efeff5;
        align-items: flex-start;
    }
    .container-questions  .text-emphasize{
    font-weight: var(--fontweight-emphasize);
    font-size: 1.6rem;
    color:var(--black);
}
    .container-questions  .text-index{
    font-weight: var(--fontweight-content);
    font-size: 1.55rem;
    color:var(--gray);
}

    .container-questions .text-subtitle{
        color: var(--orange);
        font-size:1.4rem;
        font-weight: var(--fontweight-content);
        margin-right: auto;
        background: #fcf2e3;
        border-radius: 0.7rem;
        padding:0.5rem 0.6rem;
        margin-bottom: 1rem;
}
    .container-questions .item-question {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2.3rem 7%;
        width: 90%;
        margin-right: auto;
        border-radius: 1.3rem;
        background:var(--white);
        margin-top: 1.5rem;
        margin-bottom: 3rem;
    }

    .container-questions .text-question {
        color: var(--middleblue);
        font-size: 1.5rem;
        font-weight: var(--fontweight-content);
    }

    .container-questions .text-answer {
        font-weight: var(--fontweight-content);
        font-size: 1.4rem;
        margin-top:1rem;
    }

    .container-questions .triangle-right,
    .container-questions .triangle-left {
        position: absolute;
        color: var(--white);
        font-weight: 400;
        top: 0px;
        font-size: 5rem;
        flex-shrink: 0;
    }

    .container-questions .triangle-left {
        left: -2.8rem;
    }

    .container-questions .triangle-right {
        right: -2.8rem;
    }

    .container-questions .icon-question {
        border-radius: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1.6rem;
        height: 1.6rem;
        background: var(--orange);
        font-size: 1.2rem;
        color: var(--white);
        font-weight: var(--fontweight-index);
        margin-right: 0.8rem;
    }

    .container-questions .text-link {
        display: inline-block;
        font-weight: var(--fontweight-index);
        font-size: 1.4rem;
        color: var(--darkblue);
        text-decoration: underline;
        text-decoration-color: var(--darkblue);
        text-decoration-thickness: 1.5px;
        margin-right: 0.5rem;
    }
</style>

<div class="main-container-homescreen container-questions">
                <div class="text-index">
        <span class="text-emphasize">학습 컨설팅은</span> 처음이라</br>
        어떻게 진행되는지 궁금해요!
    </div>
    <div class="item-question">
        <div class="triangle-left material-icons">arrow_left</div>
        <div class="text-content text-answer">
            충남대학교 의예과 조경연/ 서울대학교 사범대학교 홍진영입니다!
            <a href="{% url 'homescreenapp:aboutus' %}" class="text-link">AboutUs</a>에서 확인하세요!
        </div>
    </div>
    <div class="item-question" >
        <div class="triangle-right material-icons">arrow_right</div>
        <div class="text-content text-answer">
            수업은 매주 1회 비대면 언제든 &nbsp;
            <a href="{% url 'homescreenapp:refund' %}" class="text-link">환불규정</a>에 따라 수업을 종료하고 그만둘 수 있습니다!
        </div>
    </div>
    <div class="item-question" style="margin-left: auto; margin-right: 0">
        <div class="triangle-left material-icons">arrow_left</div>
        <div class="main-array-row">
            <span class="text-question text-index">Q. 제 개인 정보는 안전한가요?</span>
        </div>
        <div class="text-content text-answer">
            <a href="{% url 'homescreenapp:termofuse' %}" class="text-link">이용약관</a> 과
            <a href="{% url 'homescreenapp:privacypolicy' %}" class="text-link">개인정보 처리방침</a> 을 참고하세요!
        </div>
    </div>
</div>