<style>
    .container-review {
        background: linear-gradient(5deg, #ecf0f9, var(--whiteblue),
        #ecf0f9, var(--whiteblue),#ecf0f9);
    }


    .container-review .item-subtitle {
        color: var(--middleblue);
        border: 2.5px solid var(--middleblue);
    }

</style>
<style>
    .container-review .bg-conatiner-top,
    .container-review .bg-conatiner-bottom {
        position: absolute;
        z-index: -1;
    }

    .container-review .bg-conatiner-top {
        background:  #e7edf9;
        width: 35%;
        height: 16%;
        border-bottom-left-radius: 100% 100%;
        right: 0;
        top: 0;
    }


    .container-review .bg-conatiner-bottom {
        background: #e7edf9;
        border-top-right-radius: 100% 50%;
        border-bottom-right-radius: 100% 50%;
        left: 0;
        bottom: 5%;
        width: 26%;
        height: 22%;
    }
    @media screen and (min-width: 800px) {

        .container-review .bg-conatiner-top {
            width: 15%;
            height: 27%

        }
        .container-review .bg-conatiner-bottom {
            width: 12%;
            height: 40%;

        }

    }
</style>
<div class="main-container-homescreen container-review" >
        <div class="bg-conatiner-top"></div>
    <div class="bg-conatiner-bottom"></div>
    <div class="text-title interval-index">
        <span class="text-emphasize">누구나 처음 겪는 대입이지만</span>
    </div>
    <div class="text-subtitle">미리 겪어본 플코 선생님과 함께라면<br>누구나 목적지까지 도달할 수 있습니다</div>
    <div class="item-subtitle">실제 수강생들의 후기</div>
    {% if reviews %}
        {% for review in reviews %}
        {% include 'snippets/homereview.html' %}
        {% endfor %}
    {% endif %}
    <a href="{% url 'reviewapp:list' %}" class="btn-nav">
        수강생 후기 더 보기
        <span class="icon-arrow material-icons" style="color: #a7b3f1">arrow_forward</span>
        <span class="text-click" style="color: #a7b3f1">Click</span>
    </a>
</div>

