
<div class=" container-test" >
    <div class="text-subtitle">
        서비스 관련 기타사항
    </div>
           <div class="text-title">
        결제 및 기타 시스템 관련 <br>
        기타 사항입니다.
    </div>
    <div class="item-test ">
        <div class="icon-alert material-icons">priority_high</div>
        <div class="text-content ">
            전자 결제, sms전송 api의 공개 키와 시크릿 키는 <br>
            모두 보안을 위해 서버에서 직접 받아옵니다. <br>
        </div>
    </div>
  <div class="item-test ">
        <div class="icon-alert material-icons">priority_high</div>
        <div class="text-content ">
            서비스명에 '컨설팅' 이라는 단어가 들어가지만,<br>
            기존과 다른 형태의 개인 교습의 서비스 명칭이며<br>
            전략컨설팅 및 금융업과는 전혀 무관합니다. <br>
        </div>
    </div>
    <div class="item-test ">
        <div class="icon-alert material-icons">priority_high</div>
        <div class="text-content ">
            plan&coach 선생님들은 검증 혹은 등록을 위한 심사 정책에 따라<br>
            학력 인증, 신원 인증 및 선생님 자격을 위한 정보를 작성합니다.<br>
            관리자는 이를 확인하고 추가적인 검증을 위해 개별 연락을 취해<br>
            코칭 방법에 대한 간단한 교육 및 검증을 진행합니다.<br>
        </div>
    </div>
    <div class="item-test ">
        <div class="icon-alert material-icons">priority_high</div>
        <div class="text-content ">
            이후 선생님이 승인되면, 관리자가 계정을 전환하고<br>
            plan&coach 선생님 소속으로 학습 컨설팅(코칭)의<br>
            서비스를 판매하는 형태입니다.<br>
        </div>
    </div>
    <div class="item-test ">
        <div class="icon-alert material-icons">priority_high</div>
        <div class="text-content ">
            [급여 시스템] 선생님 회원은 학습 컨설팅을 진행하고 .<br>
            수업료를 받습니다. 하지만 수수료 및 부가세 계산, 환불액 계산 등<br>
            여러개의 수업에 대한 수업료 관리가 어려운 관계로<br>
            plan&coach에서 매달 10일, 수업이 완료된 컨설팅의 수업료를 <br>
            일괄 계산하여 급여의 형태로 계좌 이체를 진행합니다.<br>
            관리자 모드의 급여 관리는 해당 급여일에 지급해야하는 선생님의 <br>
            급여를 표시해주고, 관리자는 이에 해당하는 금액을 지급합니다.
        </div>
    </div>
    <a href="{% url 'accountapp:test_teacherapply' %}" class="btn-test">선생님 검증 및 신청 바로가기</a>
</div>