<style>
    .container-teacherapply {
        background: linear-gradient(5deg, var(--whiteblue),
        var(--whiteblue), var(--whiteblue), var(--white));
    }

    .container-teacherapply .bg-conatiner-left {
        background: #eef2fc;
        width: 50%;
        height: 40%;
        position: absolute;
        z-index: -3;
        border-top-right-radius: 100% 100%;
        left: 0;
        bottom: 0;
    }

    .container-teacherapply .item-teacherapply {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        width: 100%;
        border-radius: 0.5rem;
        background: var(--white);
        box-shadow: var(--shadow-itembox);
        margin-top: 2rem;
        border: 1.5px solid #d1d6e0;
    }

    .container-teacherapply .array-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: var(--content-padding);
        height: 10rem;
        width: fit-content;
    }


    .container-teacherapply .image-teacherapply {
        width: 100%;
        border-top-right-radius: 0.4rem;
        border-bottom-right-radius: 0.4rem;
        object-fit: cover;
        object-position: top;
        height: 12rem;
        flex-shrink: 0;
        border-left: 1.5px solid #d1d6e0;
    }

    .container-teacherapply .btn-image-teacherapply {
        width: 30%;
        border-radius: 1rem;
        position: relative;
    }

    .container-teacherapply .icon-arrow {
        color: var(--darkblue);
        font-size: 2rem;
        font-weight: 600;
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }

    @media screen and (min-width: 600px) {
        .container-teacherapply .btn-image-teacherapply {
            width: 25%;
        }

        .container-teacherapply .image-teacherapply {
            height: 13rem;
        }

        .container-teacherapply .bg-conatiner-left {
            width: 30%;
            height: 45%;

        }
    }

</style>

<div class="main-container-homescreen container-teacherapply">
    <div class="bg-conatiner-left"></div>
    <div class="text-subtitle">
        선생님이신가요?
    </div>
    <div class="text-title">
        절차에 따라<span class="text-emphasize"> 선생님을 신청</span>하고 </br>
        이 모든 <span class="text-emphasize">학습 툴을</span> 이용해보세요!
    </div>

    <div class="item-teacherapply">
        <div class="array-info ">
            <span class="text-index interval-index ">자유로운 프로필 관리</span>
            <span class="text-content">수업 프로필을 관리하고<br> 손쉽게 공유하세요</span>
        </div>
        <button onclick="showImage('teacherapplyProfileimage');" class="btn-image-teacherapply">
            <img class="image-teacherapply" src='/static/images/homescreen-teacherapply-1.jpg'>
            <div class="icon-arrow material-icons">ads_click</div>
        </button>
        <button onclick="closeImage('teacherapplyProfileimage');"
                id="teacherapplyProfileimage-fullscreen" class="fullscreenimage">
            <div class="btn-exit material-icons">close</div>
            <img class="fullscreenimage-image" style="border:2px solid var(--whitegray)"
                 src='/static/images/homescreen-teacherapply-1.jpg'>
        </button>
    </div>
    <div class="item-teacherapply">
        <div class="array-info ">
            <span class="text-index interval-index">급여 및 환불 시스템</span>
            <span class="text-content">수업 환불 및 수업료를<br> 자동화해서 한번에 관리하세요 </span>
        </div>
        <button onclick="showImage('teacherapplySalaryimage');" class="btn-image-teacherapply">
            <img class="image-teacherapply" src='/static/images/homescreen-teacherapply-2.jpg'>
            <div class="icon-arrow material-icons">ads_click</div>
        </button>
        <button onclick="closeImage('teacherapplySalaryimage');"
                id="teacherapplySalaryimage-fullscreen" class="fullscreenimage">
            <div class="btn-exit material-icons">close</div>
            <img class="fullscreenimage-image" style="border:2px solid var(--whitegray)"
                 src='/static/images/homescreen-teacherapply-2.jpg'>
        </button>
    </div>
    <div class="item-teacherapply">
        <div class="array-info ">
            <span class="text-index interval-index">체계적인 수업 관리</span>
            <span class="text-content">매주 진행되는 수업을 기록하고<br>학생을 한번에 관리하세요 </span>
        </div>
        <button onclick="showImage('teacherapplyManageimage');" class="btn-image-teacherapply">
            <img class="image-teacherapply" src='/static/images/homescreen-teacherapply-3.jpg'>
            <div class="icon-arrow material-icons">ads_click</div>
        </button>
        <button onclick="closeImage('teacherapplyManageimage');"
                id="teacherapplyManageimage-fullscreen" class="fullscreenimage">
            <div class="btn-exit material-icons">close</div>
            <img class="fullscreenimage-image" style="border:2px solid var(--whitegray)"
                 src='/static/images/homescreen-teacherapply-3.jpg'>
        </button>
    </div>
</div>

<script>
    function showImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.display = "flex";
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.transition = 'opacity 0.2s ease-in-out';
            element.style.opacity = 1;
        }, 10);
    }

    function closeImage(imageId) {
        var element = document.getElementById(imageId + "-fullscreen");
        element.style.transition = 'opacity 0.4s ease-in-out';
        element.style.opacity = 0;
        setTimeout(function () {
            element.style.display = "none";
        }, 400);
    }
</script>