<style>
.container-teacherapply{
    background: linear-gradient(to bottom left, #656d81, #4d5466, #656d81);
    padding-top:5rem;
    padding-bottom:5rem;
 }

.container-teacherapply .text-class{
    font-weight: var(--fontweight-content);
    color: var(--white);
}

.container-teacherapply .btn-apply{
    display: flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    font-size: 1.6rem;
    color: var(--black);
    font-weight: var(--fontweight-emphasize);
    padding:1rem 5rem;
    margin-top:2rem;
    border-radius: 1rem;
    background: var(--white);
}
.container-teacherapply .icon-nav{
    color: var(--black);
    font-weight:var(--fontweight-emphasize);
    font-size:1.5rem;
    margin-left: 0.3rem;
}
</style>
{% if target_step == 'unauthenticated' %}
<a href="{% url 'accountapp:login' %}" class="main-container-homescreen container-teacherapply">
{% elif can_apply_teacher == True %}
<a href="{% url 'teacherapplyapp:guide' pk=user.pk %}" class="main-container-homescreen container-teacherapply">
        <div class="text-title text-class">
            선생님으로 활동하고 싶으신가요?
        </div>
        <div class="text-title text-class">
            절차에 따라 선생님으로 등록하세요!
        </div>
        <div class="btn-apply">
            선생님 등록하러 가기
            <div class="icon-nav material-icons">arrow_forward_ios</div>
        </div>
</a>
{% endif %}