<style>
    .container-teachers {

        background: linear-gradient(30deg, white, white,#f5f7ff,white,#f5f7ff, #f5f7ff);
        align-items: flex-start;
        padding-top:4rem;
    }
    .container-teachers .interval-title{
        margin-top:1rem;
        margin-bottom: 2rem;
    }
    .container-teachers .text-subtitle{
      color: var(--middleblue);
        font-size:1.4rem;
        font-weight: var(--fontweight-content);
        margin-right: auto;
        background: #e5eaff;
        border-radius: 0.7rem;
        padding:0.5rem 0.6rem;
}
    .container-teachers .text-emphasize{
    font-weight: var(--fontweight-emphasize);
    font-size: 1.6rem;
    color:var(--black);
}
    .container-teachers .text-index{
    font-weight: var(--fontweight-content);
    font-size: 1.55rem;
    color:var(--gray);
}
    .container-teachers .item-image{
        width:100%;
        border-radius: 0.7rem;
        background: var(--blackblue);
        box-shadow: 0px 3px 10px #a7abbe;
        padding:0;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding:0rem;
}
    .item-image .image-teachers{
        margin-left: auto;
        width: 70%;
        height: 11rem;
        border-top-left-radius: 1rem;
        border-bottom-right-radius: 0.7rem;
}
    .item-image .text-explain{
    font-weight: 400;
    font-size: 1.4rem;
    color:var(--white);
        margin:2.5rem auto 3rem var(--content-padding);

}


</style>

<div class="main-container-homescreen container-teachers">
     <div class="text-subtitle">
        소속 선생님
    </div>
    <div class="text-index interval-title">
        수능, 내신<span class="text-emphasize"> 상위 1%</span>의<br>
        멘토들이 <span class="text-emphasize">선생님으로</span> 활동합니다
    </div>
      <div class="item-image">
        <div class="text-explain">
            수능, 내신 상위 1%<br>선생님들의 학습 코칭</div>
        <img class="image-teachers" src='/static/images/homescreen1.png'>
    </div>
</div>
