<style>

    .container-teacherapply {
        background: linear-gradient(10deg,var(--color-base),var(--whitegray),
        var(--whitegray), var(--color-base), var(--color-base));
    }
    .container-teacherapply .item-subtitle {
        color: var(--darkgray);
        border: 2.5px solid var(--darkgray);
    }
    .container-teacherapply .image-teacherapply {
        border-radius: 0.5rem;
        height: 18rem;
        object-fit: cover;
        width: 100%;
        object-position: center top;
        border: 1.5px solid #d9d1e0;
    }
    .container-teacherapply .item-image {
        background: transparent;
        width: 46%;
        position: relative;
        flex-shrink: 0;
    }
    .container-teacherapply .item-teacherapply {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

</style>
<style>
    .container-teacherapply .bg-conatiner-bottom,
    .container-teacherapply .bg-conatiner-top {
        position: absolute;
        z-index: -1;
    }

    .container-teacherapply .bg-conatiner-top {
        background: var(--whitegray);
        width: 40%;
        height: 23%;
        border-radius: 50%;
        right: 10%;
        top: 10%;
    }
    .container-teacherapply .bg-conatiner-bottom {
        background: var(--whitegray);
        width: 40%;
        height: 26%;
        border-top-right-radius: 100% 100%;
        left:0;
        bottom: 0;
    }


    @media screen and (min-width: 600px) {

        .container-teacherapply .bg-conatiner-top {
            width: 16%;
            height: 35%;

        }
      .container-teacherapply .bg-conatiner-bottom {
            width: 17%;
            height: 40%;

        }
        .container-teacherapply .image-teacherapply {
            height: 22rem;
        }
        .container-teacherapply .item-image {
            width: 43%;
        }
    }
        @media screen and (min-width: 1100px) {


        .container-teacherapply .image-teacherapply {
            height: 26rem;
        }
        .container-teacherapply .item-image {
            width: 38%;
        }
    }
</style>
<div class="main-container-homescreen container-teacherapply">
    <div class="bg-conatiner-top"></div>
    <div class="bg-conatiner-bottom"></div>
    <span class="text-subtitle interval-index" >수익 정산, 수업 관리, 프로필 작성</span>
    <div class="text-title" >
        <span class="text-emphasize">절차에 따라 선생님 계정으로 전환하고</span><br>
        <span class="text-emphasize">학습 툴과 서비스를 이용해보세요</span>
    </div>
    <span class="item-subtitle">선생님이신가요?</span>
    <div class="item-content item-teacherapply">
        <div class="item-image">
            <img class="image-teacherapply" src='/static/images/homescreen-teacherapply-1.png'
                     onclick="showImage('Teacherapplyimage-1');">
            <img class="image-click" src='/static/icons/touch.png'>
        </div>
        <div class="item-image">
            <img class="image-teacherapply" src='/static/images/homescreen-teacherapply-2.png'
                     onclick="showImage('Teacherapplyimage-2');">
            <img class="image-click" src='/static/icons/touch.png'>
        </div>
    </div>
    <div class="text-help">이미지를 클릭하고 자세한 내용을 확인하세요!</div>
    {% if can_teacherapply %}
        {% if not request.user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}" class="btn-nav">
        {% else %}
        <a href="{% url 'teacherapplyapp:guide' pk=request.user.pk %}" class="btn-nav">
        {% endif %}
            선생님 등록 프로세스
            <span class="icon-arrow material-icons" style="color:var(--whitegray);">arrow_forward</span>
            <span class="text-click" style="color:var(--whitegray);">Click</span>
        </a>
    {% endif %}
</div>

<button onclick="closeImage('Teacherapplyimage-1');" id="Teacherapplyimage-1-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-teacherapply-1.png'>
</button>

<button onclick="closeImage('Teacherapplyimage-2');" id="Teacherapplyimage-2-fullscreen" class="fullscreenimage">
    <div class="btn-exit material-icons">close</div>
    <img class="fullscreenimage-image"
         src='/static/images/homescreen-teacherapply-2.png'>
</button>

